{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Frequently asked Questions" %}{% endblock %}
{% block content %}

<div style="text-align: center; margin-bottom: 2em;">
	<h2>Frequently asked Questions</h2>
</div>

<div class="panel panel-default">
  <div class="panel-heading">1. Is it free?</div>
  <div class="panel-body">
    Of course!
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. .....another good question....</h3>
  </div>
  <div class="panel-body">
    .... and a very good answer ...
  </div>
</div>

  
{% endblock %}
