{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Frequently asked Questions" %}{% endblock %}
{% block content %}

<style type="text/css">
  .decimal li{
    list-style-type: decimal;
    list-style-position: outside;
  }

  .circle > li{
    list-style-type: circle;
    list-style-position: outside;
  }
</style>

<div style="margin-bottom: 2em;">
	<h2>FAQ – Frequently Asked Questions</h2>
</div>
<div style="margin-bottom: 2em;">
  <ul>
    <li><a href="#sync">What is the synchronization status and last available data?</a></li>
    <li><a href="#tec_vis">What does the Total Electron Content (TEC) data visualization represent on the virtual globe?</a></li>
    <li><a href="#models">How does VirES evaluate the magnetic models?</a></li>
    <li><a href="#qdl_mlt">How does VirES evaluate the Apex Quasi-Dipole latitude and Magnetic Local Time?</a></li>
    <li><a href="#shc">How does VirES treat my uploaded field model coefficients?</a></li>
    <li><a href="#bubbles">How does VirES visualize Bubble Index Data?</a></li>
    <li><a href="#controls">How do I control the globe/map?</a></li>
    <li><a href="#sampling">Not all Swarm data points are shown – what is the sampling?</a></li>
    <li><a href="#validation">Has there been a scientific validation of the service?</a></li>
    <li><a href="#contribute">Can I contribute to the evolution of VirES, and how?</a></li>
    <li><a href="#browser">Is there any difference which Web browser I use for VirES?</a></li>
    <li><a href="#profile">How do I change my user profile/delete my account?</a></li>
    <li><a href="#vires">Who owns VirES?</a></li>
    <li><a href="#contact">How can I contact VirES?</a></li>
  </ul>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><a name="sync"> What is the synchronization status and last available data?</a></div>
  <div class="panel-body">
    Swarm product data are synchronized with the mission’s official product archive such that latest data are accessible via VirES at maximum 4 hours after publication by ESA. This applies also when reprocessed versions of historic product data are published. Dst- and Kp-Indices are being synchronized at 4 hour intervals currently with the service provided by GFZ Potsdam.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="tec_vis">What does the Total Electron Content (TEC) data visualization represent on the virtual globe?</a></div>
  <div class="panel-body">
    <p>On the globe multiple vectors display the direction to the corresponding GPS satellite related to the measurement. There are multiple measurements per time-stamp, that is why multiple of these vectors are represented at one position. The Swarm measurements are very dense, that is why to be able to recognize each individual set of vectors a minimum sub-setting of 40 seconds has been introduced, i.e. the closest two measurement timestamps are together.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="models">How does VirES evaluate the magnetic models?</a></div>
  <div class="panel-body">
    <p>The Spherical Harmonic representation of the Earth magnetic field is employed to model the reference magnetic field to which the SWARM measurements can be compared.</p>
    <p>VirES is configured to offer a set of standard models, namely, the CHAOS-5, IGRF-12 and the Swarm Initial Field model. Beside these a user is allowed to define custom models.</p>
    <p>Each magnetic field model is defined by a set of Spherical Harmonic coefficients. The model evaluation is performed on-the-fly by our own implementation of the Spherical Harmonic expansion (<a href="https://github.com/ESA-VirES/MagneticModel/blob/master/eoxmagmod/eoxmagmod/include/shc.h">see the code here</a>).  The algorithm is loosely based on the algorithm used by NOAA WMM 2010 software.</p>
    <p>Beside the evaluation of the SWARM measurement residuals, the models can be visualized as raster map overlays or as field lines.</p>
    <p>The model coefficients themselves are usually time dependent and they are valid only over a specific time period. If the requested time lies outside the model validity range a warning is displayed to the user and the model is evaluated at the closest bound of the validity. I.e., the models are never extrapolated outside of the validity bounds.</p>
    <p>The residuals are valuated at the exact measurement times.  For the map and field line visualizations the models are evaluated at the mean time of the time selection.</p>
    <p>The algorithm evaluates magnetic field vectors for given positions in space (e.g., geodetic latitudes, longitudes and elevation above the WGS84 ellipsoid). Other variables such as, e.g., total strength or inclination, are calculated from these magnetic field vectors.</p>
    <p>For performance reasons, the variables displayed as raster map layers are not evaluated for each pixel but on a coarse grid which is then interpolated by cubic spline interpolation (16x16 pixels’ grid cells).</p>
    <p>The field lines are traced in the Cartesian coordinates by a simple algorithm equivalent to ODA integration by the Euler method.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="qdl_mlt">How does VirES evaluate the Apex Quasi-Dipole latitude and Magnetic Local Time?</a></div>
  <div class="panel-body">
    <p>
    The Apex Quasi-dipole latitude and Magnetic Local Time are evaluated by Fortran code kindly provided by Nils Olsen (<a href="https://github.com/ESA-VirES/MagneticModel/tree/master/qdipole">See on github</a>).</p>
    <p> For example, the evaluation of the QD latitude (lat_QD) is done using the following formula:
    </p>
    <p>
      lat_QD = +/-acos( sqrt( (R_E + h) / (R_E + h_A) ) )
    </p>
    <p>
      where:
    </p>
    <ul>
      <li>R_E is the mean Earth radius (6371.009 km)</li>
      <li>h is the geodetic height above the reference ellipsoid</li>
      <li>h_A is the geodetic height of the apex above the reference ellipsoid and the sign given by the vertical component of the magnetic fields</li>
    </ul>
    <p> For more details see  following references:</p>
    <ul>
      <li>Richmond, Ionospheric  Electrodynamics  Using Magnetic  Apex Coordinates, J. Geomag. Geoelectr., 47, 1995</li>
      <li>Emmert et.al., A computationally compact representation of Magnetic‐Apex and Quasi‐Dipole coordinates with smooth base vectors, J. of Geophysical Research, vol. 115, 2010.</li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="shc">How does VirES treat my uploaded field model coefficients?</a></div>
  <div class="panel-body">
    <p>The uploaded custom coefficients are treated as user’s private data and all the IPRs are retained by the user.</p>
    <p>The coefficients are always included in the model evaluation HTTP requests and “forgotten” by the server once the related HTTP response is returned. They are never stored on the VirES server and cannot be viewed or utilized by anybody else, not even by the service operator.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="bubbles">How does VirES visualize Bubble Index Data?</a></div>
  <div class="panel-body">
    <p>The timeline on the bottom of the workspace shows points where the "Bubble_Probability" is greater or equal to 0.1</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="controls">How do I control the globe/map?</a></div>
  <div class="panel-body">
    <p>The VirES workspace includes a virtual globe and map widget. The interaction controls are the following:</p>
    <p>The mouse pointer device is used on the globe/map as follows:</p>
    <ul class="circle">
      <li>Left click position, hold, move mouse: pan map (rotate globe)</li>
      <li>Turn wheel forward / backward: zoom in / out</li>
      <li>Press wheel, hold, and move mouse forward / backward: shallower / steeper 3D viewing angle</li>
      <li>Press wheel, hold, and move mouse left / right: rotate map clockwise /counter-clockwise</li>
    </ul>
    <p>The Select Area button changes the left click behaviour of mouse: 1<sup>st</sup> click defines a corner and 2<sup>nd</sup> click defines the diagonally opposite corner of the geographic Area of Interest shown on the globe/map.</p>
    <p>The symbol button on the top-right allows switching between appearances/projections (2D, 2.5D, 3D)</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="sampling">Not all Swarm data points are shown – what is the sampling?</a></div>
  <div class="panel-body">
    <p>
      For performance reasons only limited subset of the SWARM measurements can
      be loaded to the client. The size of the data passed from the server
      to the client depends on spatial and temporal selection and a simple
      adaptive algorithm is employed by the server to guess the optimal data
      sampling.
    </p>
    <p>
      In short, if no Area-of-Interest (AoI) is selected the data sampling
      is kept at 5s for time selection up to 1 day and the size
      of the transferred data rises proportionally to the size
      of the interval. For time selections over 1 day the size of the data
      is fixed and the data sampling period rises proportionally
      to the time selection.
    </p>
    <p>
      If an AoI is selected, the sampling period is decreased proportionally
      to the fraction of the AoI to the global cover in the latitude/longitude
      coordinates. I.e., for a sufficiently small AoI the data sampling will
      the same as that of the SWARM product.
    </p>
    <p>
      Each satellite collection is treated independently and therefore when
      selecting all three A, B, C satellites the transferred data is 3x larger
      than when selecting only, e.g., the A satellite.
    </p>
    <p>
      Please note that the sub-sampling is applied only to the data
      visualized in the client (displayed on the map and/or
      in the Visual Analytics panel). The data downloaded as a file
      are not sub-sampled and contain all measurements matched
      by the applied filters.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="validation">Has there been a scientific validation of the service?</a></div>
  <div class="panel-body">
    Senior geomagnetists at DTU Space, GFZ Potsdam and mission experts at ESA/ESRIN have been members of the project team involved in the detailed specification of VirES and its accurate validation at various stages of evolution (prototype, release candidate, operational service). 
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="contribute">Can I contribute to the evolution of VirES, and how?</a></div>
  <div class="panel-body">
    An online user forum and problem solution area is currently under preparation. You will receive a notification by email as soon this will be opened to anybody wishing to provide ideas and improvement suggestions to the VirES application engineers and to the service provider team. VirES is a Free and Open Source Software initiative meaning that you are also invited to get involved into branching out software code and to contribute your own enhancements to it. The code is maintained and related issues are publicly tracked under <a href="https://github.com/ESA-VirES">ESA-VirES</a>.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="browser">Is there any difference which Web browser I use for VirES?</a></div>
  <div class="panel-body">
    Google Chrome is fastest in rendering SVG and has a very good HTML-5 features support. Therefore, it is the recommended browser. Nonetheless, all other major browsers (Microsoft Internet Explorer and Edge, Firefox, Opera, Safari) in their most recent releases have been tested and found working properly. Some features of VirES perform differently depending on the used browser. Touch screen interaction is supported. Mobile devices which support HTML can also be used. Small screens are, however not practical for a number of service functions. It is always a good idea to have the latest video drivers running on your computer.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="profile">How do I change my user profile/delete my account?</a></div>
  <div class="panel-body">
    You can change your password, e-mail, user profile information, and connected social account on the settings page which you reach by clicking on your name displayed in the banner bar of the VirES workspace window. You can have your account deleted by sending an e-mail message to the service operator using the address <a href="mailto:support@vires.services" target="_top">support@vires.services</a>.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="vires">Who owns VirES?</a></div>
  <div class="panel-body">
    "VirES for Swarm" is a service required and implemented by the Earth Observation Directorate of the <a href="http://esa.int">European Space Agency</a> (ESA) and designed and operated by <a href="https://eox.at/">EOX IT Services GmbH</a> (EOX), a private company. The technical framework entirely consists of Free and Open Source Software (MIT style licence). EOX is currently the sole committer to the code repository (hoping that other developer will be joining soon). The site is hosted on the servers of EOX. The domain name vires.services is owned by EOX. The information uploaded and generated by using the VirES service are owned by the individual who performed the specific upload and generated output as defined in the personal data privacy strategy of the service.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><a name="contact">How can I contact VirES?</a></div>
  <div class="panel-body">
    <p>The email address via which to reach the service operator personnel is <a href="mailto:support@vires.services" target="_top">support@vires.services</a>.</p>
    <p>Feedback and ideas are very welcome, feel free to contact us under <a href="mailto:feedback@vires.services">feedback@vires.services</a>.</p>
  </div>
</div>

  
{% endblock %}
