{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Log in" %}{% endblock %}
{% block content %}
  <h2>{% trans "Log in" %}</h2>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>
      {% blocktrans with site.name as site_name %}Please log in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and log in below:{% endblocktrans %}
    </p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans 'or' %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<form class="form-horizontal inputwide" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <fieldset>
   {% if form.errors %}
     <p class="help-inline error">
       Incorrect user credentials or password.<br>
       Please try again.<br>
       Note that both fields are case sensitive.
     </p>
   {% endif %}
   {% for field in form %}
     {% if field.errors %}
       <div class="control-group error">
         <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
         {{ field }}
         <span class="help-inline error">
           {% for error in  field.errors %}{{ error }}{% endfor %}
         </span>
       </div>
     {% else %}
       <div class="control-group">
         <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
         {{ field }}
         {% if field.help_text %}
             <p class="help-inline"><small>{{ field.help_text }}</small></p>
         {% endif %}
       </div>
     {% endif %}
   {% endfor %}
   {% if redirect_field_value %}
       <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
   {% endif %}
   <div class="form-actions" style="text-align: center; margin:15px 0 20px 0;">
       <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
   </div>
   <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
   <p><a href="{{ signup_url }}">Need an account?</a></p>
  </fieldset>
</form>
{% endblock %}
