{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Logout" %}{% endblock %}
{% block content %}
  <h2>{% trans "Logout" %}</h2>
  <p>{% trans 'Are you sure you want to logout?' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans 'Logout' %} &raquo;</button>
  </form>
{% endblock %}
