{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Update Profile" %}{% endblock %}
{% block content %}
  <h2>{% trans "Profile" %}</h2>
  <form class="form-horizontal inputwide" method="POST" action="{% url 'account_change_profile' %}">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        {% if field.errors %}
          <div class="control-group error">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <span class="help-inline error">
              {% for error in  field.errors %}{{ error }}{% endfor %}
            </span>
          </div>
        {% else %}
          <div class="control-group">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions" style="text-align: center; margin:15px 0 20px 0;">
        <button type="submit" class="btn btn-primary">{% trans "Update Profile" %}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}