{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Account Connections" %}{% endblock %}
{% block content %}
  <h2>{% trans "Account Connections" %}</h2>
  {% if form.accounts %}
    <p>{% blocktrans %}You can log in to your account using any of the following third party accounts:{% endblocktrans %}</p>
    <form method="post" action="{% url 'socialaccount_connections' %}">
      {% csrf_token %}
      <fieldset>
        {% if form.non_field_errors %}<div id="errorMsg">{{ form.non_field_errors }}</div>{% endif %}
        <table class="table external-accounts">
          <thead>
            <tr><th>&nbsp;</th><th>Provider</th><th>Account Name</th></tr>
          </thead>
          <tbody>
          {% for base_account in form.accounts %}
          {% with base_account.get_provider_account as account %}
            <tr class="clickable" onclick="$(this).find('td input:radio').prop('checked', true);">
              <td class="align-middle"><input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/></td>
              <td class="align-middle"><span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }} color-grey">{{account.get_brand.name}}</span></td>
              <td class="align-middle">{{ account }}</td>
            </tr>
          {% endwith %}
          {% endfor %}
          </tbody>
          </table>
        <p>
          <button type="submit" class="btn btn-primary">{% trans 'Remove selected account' %}</button>
        </p>
      </fieldset>
    </form>
  {% else %}
    <p>{% trans 'There is currently no third party account connected to this account.' %}</p>
  {% endif %}
  {% if socialaccount_providers %}
  <h2>{% trans 'Connect a New External Account' %}</h2>
  <p>{% blocktrans %}Connect a new account from one of the providers listed below:{% endblocktrans %}</p>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
  </ul>
  {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}
{% endblock %}
