{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}
{% block content %}
  <h2>{% trans "Login Cancelled" %}</h2>
  {% url 'account_login' as login_url %}
  <p>
    {% blocktrans %}You decided to cancel logging in to our site using one of
    your existing accounts. If this was a mistake, please, re-try to log in.
    {% endblocktrans %}
  </p>
  <p>
    <a href="{% url 'account_login' %}"  class="btn btn-primary">Retry to log in &raquo;</a>
  </p>
{% endblock %}
