.socialaccount_providers li{
	display: inline;
	margin-left: 1em;
}

.socialaccount_providers{
  padding-left: 0px;
  text-align: center;
}


@font-face {
  font-family: "esa-logo";
  src: url("../fonts/esa-logo.woff") format('woff');
}
.socialaccount_provider.eoiam  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.eoiam::before {
  font-family: esa-logo;
  content: "E";
  font-size: 40px;
  text-decoration: none;
}


.socialaccount_provider.facebook  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.facebook::before {
  font-family: FontAwesome;
  content: "\f082";
  font-size: 40px;
}


.socialaccount_provider.twitter  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.twitter::before {
  font-family: FontAwesome;
  content: "\f081";
  font-size: 40px;
}


.socialaccount_provider.github  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.github::before {
  font-family: FontAwesome;
  content: "\f092";
  font-size: 40px;
}


.socialaccount_provider.dropbox  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.dropbox::before {
  font-family: FontAwesome;
  content: "\f16b";
  font-size: 40px;
}

.socialaccount_provider.linkedin_oauth2  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.linkedin_oauth2::before {
  font-family: FontAwesome;
  content: "\f08c";
  font-size: 40px;
}

.socialaccount_provider.google  {
  font-size: 0;
  text-decoration: none;
}
.socialaccount_provider.google::before {
  font-family: FontAwesome;
  content: "\f0d4";
  font-size: 40px;
}
