{% extends "vires/base.html" %}
{% load i18n %}

{% block title %}

  <title>VirES Swarm Services</title>

  <style type="text/css">
    .inputwide input {
      width: 100%;
    }
    .inputwide input[type=checkbox] {
      width: auto;
    }
  </style>

{% endblock %}


{% block content %}

{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'workspace/styles/main.css' %}" />

  <!-- Page Content -->
  <div id="content">
    <div id="main"></div>
    <div id="viewContent"></div>
    <div id="leftSideBar"></div>
    <div id="rightSideBar"></div>
    <div id="optionsBar"></div>
    <div id="topBar"></div>
    <div id="bottomBar"></div>
  </div>

  <div id="storyView" style="z-index: 0"></div>

  <div id="loadscreen" class="modal-backdrop">
    <div id="loading-spacer">
      <div class="project-title">VirES</div>
    </div>
    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  </div>

  <!-- HIDDEN DOWNLOAD DIV -->
  <div id="div-downloads">
    <iframe name="iframe-download-post" id="iframe-download-post"></iframe>
  </div>

  <div id="error-messages"></div>

  <div id="pngdataurl"></div>

  <div id="terrain_attribution">
    <p style="float: right"><a href="javascript:;" onclick="toggle(terrain_attribution)">×</a></p>
    <p>Terrain map data</p>
    <ul>
      <li>OpenStreetMap © <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap contributors</a></li>
      <li>NaturalEarth <a href="http://www.naturalearthdata.com/about/terms-of-use/" target="_blank">public domain</a></li>
      <li>EU-DEM © Produced using Copernicus data and information<br>funded by the European Union</li>
      <li>SRTM © <a href="http://nasa.gov" target="_blank">NASA</a></li>
      <li>GTOPO30</li>
      <li>CleanTOPO2 public domain</li>
      <li>GlobCover © <a href="http://esa.int" target="_blank">ESA</a></li>
    </ul>
    <p>Terrain map design © <a href="http://eox.at" target="_blank">EOX IT Services GmbH</a></p>
  </div>

  <script>
    // Used to display/hide terrain attribution
    function toggle(e) { e.style.display = (e.style.display == 'block' ? 'none' : 'block'); }
  </script>

  {% if user.is_authenticated %}

    {% load account %}

    <script type="text/javascript">
      this.NAVBARITEMS = [{
        "name": "{% user_display user %}",
        "icon": "fa-user",
        "eventToRaise": "modal:accountSettingsModal",
      },{
        "name": "Logout",
        "icon": "fa-sign-out",
        "eventToRaise": "ui:open:layercontrol",
      }];

      var CONFIG_URL = "{% static 'workspace/scripts/config.json'%}";
      CESIUM_BASE_URL = "{% static 'workspace/bower_components/cesium/Build/Cesium/'%}";
      // you can register settings like this before require.js is loaded
      var require = {
          baseUrl : "{% static 'workspace/scripts/' %}"
      };
    </script>

    <!-- Modal forms -->
    <div class="modal fade" id="accountSettingsModal" tabindex="-1" role="dialog" aria-labelledby="accountSettingsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="accountSettingsLabel">Settings ({% user_display user %})</h4>
          </div>
          <div class="modal-body">
            <p>Change profile configuration</p>
          <a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a><br/>
          <a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a><br/>
          <a href="{% url 'account_email' %}">{% trans "Change e-mail" %}</a><br/>
          <a href="{% url 'socialaccount_connections' %}">{% trans "Connect social accounts" %}</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  {% else %}

    <script type="text/javascript">
      this.NAVBARITEMS = [{
        "name": "Log-in",
        "icon": "fa-user",
        "eventToRaise": "modal:loginModal",
      }];

      var CONFIG_URL = "{% static 'workspace/scripts/config.json'%}";
      CESIUM_BASE_URL = "{% static 'workspace/bower_components/cesium/Build/Cesium/'%}";
      // you can register settings like this before require.js is loaded
      var require = {
        baseUrl : "{% static 'workspace/scripts/' %}"
      };
    </script>

    {% load i18n %}
    {% load account socialaccount %}

    <!-- Modal forms -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
      <div class="modal-dialog" role="document">
        <form class="form-horizontal inputwide" method="POST" action="{% url 'account_login' %}">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="loginModalLabel">Login to VirES Services</h4>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <div class="socialaccount_ballot">
             <p>Using:</p>
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
              <p>or:</p>
            </div>
            <fieldset>
              {% if login_form.errors %}
                <p class="help-inline error">
                  Incorrect login or password.<br>
                  Please try again.<br>
                  Note that both fields are case sensitive.
                </p>
              {% endif %}

              {% for field in login_form %}
                {% if field.errors %}
                  <div class="control-group error">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <span class="help-inline error">
                      {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                  </div>
                {% else %}
                  <div class="control-group">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                      <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}

              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </fieldset>
            <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
            <p><a href="{% url 'account_signup' %}">Need an account?</a></p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </form>
      </div>
    </div>

{% endif %}
  <script data-main="{% static 'workspace/scripts/init.js' %}" src="{% static 'workspace/bower_components/requirejs/require.js' %}"></script>

{% endblock %}