{% extends "vires/base.html" %}
{% load i18n %}
{% block title %}VirES for Swarm - HAPI Server{% endblock title %}
{% block content %}
<h1>VirES for Swarm  &#8212; HAPI Server</h1>
<p>
The <i>Heliophysics Application Programming Interface</i> (HAPI) is a community
specification of a unified interface for accessing data time-series.
The <i>VirES for Swarm</i> acts as a HAPI server and allows access to selected
datasets via the HAPI interface.
</p>
</p>
  For more details about see the <a href="https://github.com/hapi-server/data-specification" target="_blank">HAPI Specification</a>.
</p>
</p>
  HAPI clients for various programming environments can be found
  <a href="https://github.com/hapi-server" target="_blank">here</a>.
</p>
<h2 id="terms-and-conditions">Terms and Conditions</h2>
<p>
  The access and use of Swarm products are regulated by
  <a href="/data_terms" target="_blank">ESA's Data Policy</a>
  and subject to the acceptance of the specific Terms and Conditions.
</p>
<p>
  The VirES for Swarm HAPI end-point, unlike the other VirES APIs,
  does not require user authentication. The datasets published via the
  VirES for Swarm HAPI interface are accessible freely.
</p>

<h2 id="available-datasets">Available Datasets</h2>

<p>
This section list available datasets grouped by the type and their parameters
(click to expand the collapsed lists).
Click a dataset name to see its HAPI JSON info response.
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for type, datasets in type_groups.items %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-type-{{forloop.counter}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#body-type-{{forloop.counter}}" aria-expanded="false" aria-controls="body-type-{{forloop.counter}}"><code><strong>{{type}}</strong></code></a>
      </h4>
    </div>
    <div id="body-type-{{forloop.counter}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-type-{{forloop.counter}}">
      <div class="panel-body">
        <table class="table table-bordered" style="width:90%;margin-left:5%;">
          <thead>
            <tr>
              <th>dataset</th>
            </tr>
          </thead>
          <tbody>
          {% for dataset, info in datasets.items %}
            <tr>
              <td>
                <a href="./info?dataset={{dataset}}" target="dataset-info"><code>{{dataset}}</code></a>
              </td>
            </tr>
          {% endfor %}
          <tbody>
        </table>
      </div>
      {% for dataset, info in datasets.items %}
      {%if forloop.counter == 1 %}
        <table class="table table-bordered" style="width:90%;margin-left:5%;">

          <thead>
            <tr>
              <th>parameter / type</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
          {% for parameter in info.parameters %}
            <tr>
              <td>
                <code>{{ parameter.name }}{{ parameter.size }}</code><br>
                <code>{{ parameter.type }}</code>
              </td>
              <td>
                {{ parameter.description }}
              </td>
            </tr>
          {% endfor %}
          <tbody>
        </table>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<hr>

<h2 id="api-description">API Description</h2>

VirES server implements the version {{ version }} of the
<a href="https://github.com/hapi-server/data-specification" target="_blank">HAPI Specification</a>.

<h3 id="example-queries">Example HAPI Queries</h3>

<ul class="list-group">
  <li class="list-group-item">
    <a href="./about" target="_blank"><code>{{request.get_full_path}}about</code></a>
  </li>
  <li class="list-group-item">
    <a href="./capabilities" target="_blank"><code>{{request.get_full_path}}capabilities</code></a>
  </li>
  <li class="list-group-item">
    <a href="./catalog" target="_blank"><code>{{request.get_full_path}}catalog</code></a>
  </li>
  {% if example %}
  <li class="list-group-item">
    <a href="./info?dataset={{example.dataset}}" target="_blank"><code>{{request.get_full_path}}info?dataset={{example.dataset}}</code></a>
  </li>
  <li class="list-group-item" style="overflow:hidden;text-overflow:ellipsis;">
    <a href="./data?dataset={{example.dataset}}{% if example.parameters %}&amp;parameters={{example.parameters}}{%endif%}&amp;start={{example.start}}&amp;stop={{example.stop}}&amp;format=json&amp;include=header" target="_blank"><code>
     {{request.get_full_path}}data?dataset={{example.dataset}}{% if example.parameters %}&amp;parameters={{example.parameters}}{%endif%}&amp;start={{example.start}}&amp;stop={{example.stop}}&amp;format=json&amp;include=header
    </code></a>
  </li>
  {% endif %}
</ul>

<h3 id="extenstions">Custom Extensions</h3>

<p>
  The <a href="https://github.com/hapi-server/data-specification" target="_blank">HAPI Specification</a>
  allows extension of the protocol as long as these do not collide with
  the baseline specification and can be safely ignored by client which do not
  recognize them . The extension attributes are labelled by the <code>x_</code>
  prefix.
</p>
<p>
  The VirES extensions are described below...
</p>

<h4 id="dataset-name-and-type">Dataset Name and Type</h4>
<p>
  The info responses contain extra <code>x_dataset</code> and
  <code>x_datasetType</code> for the VirES product collection (equal to the HAPI
  dataset name) and VirES product type. Datasets of the same <code>x_datasetType</code>
  bear the identical set of parameters.
</p>

<h4 id=<storage-data-type">Storage Data Type</h4>
<p>
  The parameters description contains additional attribute <code>x_type</code>
  publishing original storage data type of the parameter and its bit-size
  (<code>int8</code>, <code>int16</code>, <code>int32</code>, <code>int64</code>,
  <code>uint8</code>, <code>uint16</code>, <code>uint32</code>, <code>uint64</code>,
  <code>float32</code> or <code>float64</code>).
</p>
<p>
  In case of the time-stamps, the description defines the original time-encoding
  with these attributes: <code>x_standard</code> (<code>UTC</code>),
  <code>x_epoch</code> (zero-time instant, <code>1970-01-01T00:00:00Z</code>),
  <code>x_unit</code> (time unit of the stored numbers, e.g. <code>s</code>,
  <code>ms</code>, or <code>us</code>) and <code>x_type</code> (storage data type,
  <code>int64</code>).
</p>
<p>
  The string arrays contain an additional <code>x_encoding</code> attribute
  (<code>ASCII</code> or <code>UTF-8</code>).
</p>

<h4 id="custom-binary-format">Custom Binary Format</h4>
<p>
  VirES provides an extra custom binary format <code>x_binary</code>.
  This format has the same structure and endianity as the HAPI <code>binary</code>
  format but the time, integer and floating point values are encoded in their
  source data type indicated by the <code>x_type</code>, rather than by the
  ISO&#8209;8601 time string, 32&#8209;bits signed integer and double precision
  float.
</p>
<p>
  This binary format is a bit faster to produce and more compact than
  the standard binary format and it can safely represent <code>uint32</code>,
<code>int64</code>, and <code>uint64</code> values.
</p>

<h3 id="ieee745-special-values-in-json">JSON Representation of Special IEEE 745 Values</h3>
<p>
  The number represenatation <a href="https://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a>
  format is limited to decimal numbers (<code>-123.456</code>) with the
  optional exponential notation (<code>-1.23456e2</code>) and it cannot
  represent the <a href="https://en.wikipedia.org/wiki/IEEE_754#Formats" target="_blank">IEEE 745</a>
  special <i>not-a-number</i> and positive or negative <i>infinity</i> values which
  may occur in the provided time series data.
</p>
<p>
  VirES for Swarm HAPI server encodes these values as strings which are
  parsable by the Javascript <code>Number()</code> and Python <code>float()</code>
  functions:
</p>
<table class="table table-bordered">
  <thead>
    <tr><th>special value</th><th>JSON representation</th></tr>
  </thead>
  <tbody>
    <tr><td>not-a-number</td><td><code>"NaN"</code></td></tr>
    <tr><td>positive infinity</td><td><code>"Infinity"</code></td></tr>
    <tr><td>negative infinity</td><td><code>"-Infinity"</code></td></tr>
  </tbody>
</table>

{% endblock content %}
