{% extends "oauth2_provider/base.html" %}
{% block content %}
<h2>Delete authorized token</h2>
<p>Are you sure you want to delete this token?</p>
<div class="panel panel-default">
  {% if token.application.name %}
  <div class="panel-heading">
    <h3 class="panel-title">{{ token.application.name }}</h3>
  </div>
  {% endif %}
  <div class="panel-body">
    <p>Created: {{ token.created|date:"Y-m-d H:m:s" }}</p>
    <p>Expires: {{ token.expires|date:"Y-m-d H:m:s" }}</p>
    {% if token.scopes %}
      <p>Permissions:</p>
      <ul>
        {% for scope in token.scopes %}
          <li>{{ scope }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<form action="{% url 'oauth2_provider:authorized-token-delete' token.pk %}" method="post">
 {% csrf_token %}
 <div class="control-group" style="text-align: right">
   <div class="controls">
     <a class="btn btn-large btn-default" href="{% url 'oauth2_provider:authorized-token-list' %}">Cancel</a>
     <input type="submit" class="btn btn-large btn-primary" value="Delete"/>
   </div>
 </div>
</form>
{% endblock %}
