{% extends "account/base.html" %}
{% load i18n %}
{% load vires_altcha %}
{% load static %}
{% load account %}
{% block head_title %}Password Reset{% endblock %}
{% block additional_headers %}
{{ block.super }}
{% if altcha_is_enabled %}<script async defer src="{% static 'js/altcha.min.js' %}" type="module"></script>{% endif %}
{% endblock %}
{% block content %}
  <h2>Password Reset</h2>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>
    Have you forgotten your password?<br>
    Enter your e-mail address and we will send you an e-mail to reset it.
  </p>
  <form class="form-horizontal inputwide" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions" style="text-align: center; margin:15px 0 20px 0;">
      {% if altcha_is_enabled %}<altcha-widget challengejson='{% altcha_challenge %}' floating hidelogo hidefooter ></altcha-widget>{% endif %}
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>
  <hr>
  <p>
    Please contact us on
    <a href="mailto:feedback@vires.services">feedback@vires.services</a>.
    if you have any trouble resetting your password.
  </p>
{% endblock %}
