{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Terms of Service" %}{% endblock %}
{% block content %}
<style type="text/css">
	.roman li{
		list-style-type: upper-roman;
		list-style-position: outside;
	}

	.square > li{
		list-style-type: square;
		list-style-position: outside;
	}

	.circle > li{
		list-style-type: circle;
		list-style-position: outside;
	}

	.latin > li {
		list-style-type: lower-latin;
		list-style-position: outside;
	}

	.upper_latin > li {
		list-style-type: upper-latin;
		list-style-position: outside;
	}

	.decimal > li {
		list-style-type: decimal; 
		list-style-position: outside;
	}
	.emptylist h3 {
		margin-left: -1em;
	}

	.emptylist h3 a:hover {
		text-decoration: none;
		color: #428bca;
	}
	
</style>
<div style="text-align: center;">
	<h2>VirES Service Terms</h2>
	<h4>"Terms and Conditions"</h4>
	<p>Version of 05/06/16 - Draft</p>
</div>

<div>
	<h3>Terms and conditions</h3>
	<p>
		The VirES for Swarm service provides an interactive data manipulation and retrieval interface to data from the Swarm
		mission supplied by the European Space Agency(ESA). Development and operation is performed by EOX for ESA.
	</p>
	<p>
		The term "Service Provider" used below, refers to ESA and EOX. “VirES Service” and “VirES website” refers to “VirES for Swarm Service” and “VirES for Swarm website” respectively.
	</p>
	<p>
		Access to, and use of, the VirES for Swarm service constitutes acceptance of the following general terms and conditions.
	</p>
	<h3>Disclaimer</h3>
	<p>
		Neither the Service Provider nor any other party involved in creating, producing or delivering the website shall be liable for any direct, incidental, consequential, indirect or punitive damages arising out of Users' access to, or use of, the service.
	</p>
	<p>
		Though the Service Provider uses the best technical standards to control its site, material on this website may inadvertently include technical inaccuracies or other errors. We should be grateful if users could notify us of any errors or inaccuracies they may find. Please note that users browse and use the website at their own risk. The Service Provider does not warrant that the functional aspects of the website will be uninterrupted or error free or that this website is free of viruses or other harmful components. The Service Provider may change material on the site without prior notice.
	</p>
	<h3>Use of VirES for Swarm service and forums</h3>
	<p>
		To use the service the user is required to sign up to receive an account either through direct registration or by using a social provider. A user may at any point request cancellation of this account by sending an email to <a href="mailto:support@vires.services" target="_top">support@vires.services</a>.
	</p>
	<p>
		The VirES website may provide access to forums and blogs or other services enabling posts and commenting (collectively termed 'forums'). Users agree to use forums only to send and receive messages and materials that are strictly related to the particular forum.
	</p>
	<p>
		When using the VirES for Swarm Service or forum, users agree not to do any of the following:
		<ul class="circle">
			<li>Users shall not misuse or interfere with the service provided, nor shall the users attempt to circumvent or bypass any access restriction implemented on the website.</li>
			<li>Users shall not delete any author attributions, legal notices, proprietary designations or labels from any file that is downloaded nor falsify the origin or source of software or other material contained in a file that is downloaded.</li>
			<li>Users may not download, distribute or otherwise publish through the VirES website any content which is libellous, defamatory, obscene, pornographic, abusive or in any way violates any laws.</li>
			<li>Users should not distribute or otherwise publish any material containing any solicitation for funding, advertising or solicitation for goods or services without requesting and receiving prior written approval from The Service Provider.</li>
		</ul>
	</p>
	<p>
		The Service Provider does not and cannot review every message posted by users on forums and is not responsible for the content of any messages posted. The Service Provider reserves the right to delete, move or edit, at its sole discretion, messages that it deems abusive, defamatory, obscene, in violation of copyright laws or unacceptable. Users shall remain solely responsible for the content of their messages.
	</p>
	<p>
		The Service Provider reserves the right to suspend, block or cancel a User account if a user violates these rules.
	</p>
	<h3>Access and availability of service and links</h3>
	<p>
		The site may contain links and references to third-party websites. These are provided for the convenience and interest of users and on the part of the Service Provider this implies neither responsibility for, nor approval of, information contained in these websites. The Service Provider makes no warranty, either express or implied, as to the accuracy, availability or content of information, text, graphics which are not under the 'vires.services' domain. The Service Provider has not tested any software located on other sites and does not make any representation as to the quality,safety, reliability or suitability of such software.
	</p>
	<h3>Personal data privacy</h3>
	<p>
		By accessing the VirES website, certain information about users, such as internet protocol (IP) addresses, navigation through the site, time spent, as well as other similar information, will be stored on the Service Provider servers. This information will be used internally for website traffic analysis only. If users provide unique identifying information, such as name, address and other information on forms stored on this site, this information will be used for statistical purposes only and will not be published or made available for general access.
	</p>
	<p>
		Passwords stored for access to the VirES Service are encrypted.
	</p>
	<p>
		The email address may be used to contact the user to inform about changes to the VirES Service or to inquire about the user's interest in this service. The user agrees to receiving these emails. This may be prevented by sending an email to <a href="mailto:support@vires.services" target="_top">support@vires.services</a> requesting unsubscription.
	</p>
	<p>
		The Service Provider does not sell or rent its website users' names, addresses, email addresses or other personal information.
	</p>
	<h3>Use of IP address</h3>
	<p>
		The IP address is a number that is automatically given to your computer when you are surfing on the internet. Servers that host web pages, automatically identify your computer through its IP number. The Service Provider uses IP addresses in order to carry out statistics, however, as IP addresses and personal identification are not linked to each other users remains anonymous.
	</p>
	<h3>Use of cookies</h3>
	<p>
		Cookies are pieces of information that a website transfers to an individual hard drive for record-keeping purposes; passwords are not saved in cookies. We distinguish between cookies required for the functioning of the service, tracking cookies and third party cookies:
		<ul class="circle">
			<li>Required cookies are those used for user authentication. Users not accepting these cookies cannot use the VirES Service.</li>
			<li>Tracking cookies help the Service Provider to know which pages are visited most often and helps the Service Provider to ensure that its website responds to users' needs. To opt out of tracking, the “Do not track” preference can be configured in user browsers.</li>
			<li>Third party cookies are set by external web pages for their purposes and are neither controlled nor read by the Service Provider.</li>
		</ul>
	</p>
	<p>
		The Service Provider does not use personal identification details transferred through cookies either for promotion or marketing purposes, nor will such information be shared with a third party.
	</p>
	<h3>Copyrights</h3>
	<p>
		VirES for Swarm Service is intended for non-commercial use. Users may not modify, publish, transmit, participate in the transfer or sale of, reproduce, create derivative works from, distribute, perform, display or in any way exploit any of the content, software, material or services, in whole or in part, without obtaining prior written authorisation. However, the user may redistribute images produced with the Service.
	</p>
	<p>
		All material published on the VirES for Swarm website is protected by copyright and owned or controlled by the Service Provider or the party credited as the provider of the content, software or other material.
	</p>

</div>
  

  
{% endblock %}
