{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
{% load static %}
  <h2>{% trans "Sign up" %}</h2>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Log in</a>.{% endblocktrans %}</p>
  <p class="help-inline" style="font-size: 1em;">(*) Required fields; Please help us getting to know you by filling out non required fields.</p>
  <form class="form-horizontal inputwide" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <fieldset>
      {% for error in form.non_field_errors %}
        <span class="help-inline error">{{ error|escape }}</span>
    {% endfor %}
      {% for field in form.visible_fields %}
        {% if field.errors %}
          <div class="control-group error">
            <label class="control-label{% if field.field.required %} required{% endif %}" for="{{ field.id_for_label }}">
              {{ field.label }}{% if field.field.required %} *{% endif %}
            </label>
            {{ field }}
            <span class="help-inline error">
              {% for error in  field.errors %}{{ error }}{% endfor %}
            </span>
          </div>
        {% else %}
          <div class="control-group">
            <label class="control-label{% if field.field.required %} required{% endif %}" for="{{ field.id_for_label }}">
              {{ field.label }}{% if field.field.required %} *{% endif %}
            </label>
            {{ field }}
            {% if field.help_text %}
              <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="checkbox">
          <label style="font-weight: bold;">
              <input id="mandatory_consent" style="width: auto;" type="checkbox" value="">
              I have read and hereby accept the <a style="display:inline;" href="/data_terms" target="_blank">ESA Data Terms</a>,
              <a style="display:inline;" href="/service_terms" target="_blank">VirES Service Terms</a>,
              and <a style="display:inline;" href="/privacy_notice" target="_blank">VirES Privacy Notice</a>. *
          </label>
      </div>
      <div class="form-actions" style="text-align: center; margin:15px 0 20px 0;">
          <button id="formsubmit" type="submit" class="btn btn-primary" disabled="true">{% trans "Sign up" %} &raquo;</button>
      </div>
    </fieldset>
  </form>

  <script type="text/javascript">
    onLoadCallbacks.push(function() {
      // re-order form fields
      $('#id_password2').parent().prependTo("fieldset");
      $('#id_password1').parent().prependTo("fieldset");
      $('#id_email2').parent().prependTo("fieldset");
      $('#id_email').parent().prependTo("fieldset");
      $('#id_username').parent().prependTo("fieldset");
      $('#id_username').focus();

      $('#mandatory_consent').change(function () {
        var enabled = $('#mandatory_consent')[0].checked;
        $('#formsubmit').prop('disabled', !enabled);
      })

      $('#mandatory_consent').keypress(function (e) {
          if((e.keyCode ? e.keyCode : e.which) == 13) {
              $(this).trigger('click');
          }
      });
    });
  </script>
{% endblock %}
