{% extends "documents/base.html" %}
{% block title %}VirES for Swarm - Changelog{% endblock title %}
{% block content %}
<h1>Changelog</h1>
<hr>
<h3 id="3.17.0">
    Release of Service v3.17.0 (2025-12-20)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Support for EFIx_LP_1B baseline 07</b><br>
        This release implements support for the new baseline of the Swarm OPER
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIx_LP_1B">EFIx_LP_1B</a>
        products.
    </li>
</ul>
<p>
    Breaking changes:
</p>
<ul>
    <li><b>EFIx_LP_1B baseline 07</b><br>
        The new Swarm
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_EFIx_LP_1B">EFIx_LP_1B</a>
        baseline 07 defines new and changes existing product variables.
    </li>
</ul>
<hr>
<h3 id="3.16.0">
    Release of Service v3.16.0 (2025-12-10)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Web client visualization of Swarm L2 MIT and PPI products.</b><br>
        It is now possible to visualize the data from the
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MITx_LP_2F">MITx_LP_2F</a>,
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MITxTEC_2F">MITxTEC_2F</a>, and
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_PPIxFAC_2F">PPIxFAC_2F</a>
        products in the VirES web client.
    </li>
    <li><b>CHAOS-8 MIO model</b><br>
        The ionospheric component of the
        <a target="_blank" href="https://www.spacecenter.dk/files/magnetic-models/CHAOS-8/">CHAOS-8</a>
        magetic model is now available.
    </li>
    <li><b>Interpolation of Swarm 50Hz HR model values from 1Hz values</b><br>
        As a performance optimization, the magnetic model values for the Swarm
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_HR_1B">MAGx_HR_1B</a>
        times and locations served by the VirES APIs are now
        interpolated from the magnetic model values at the
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_LR_1B">MAGx_LR_1B</a>
        1Hz times and locations (see <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a> documentation).
    </li>
    <li><b>MAGx_HR_1B CHAOS model and residuals served via HAPI</b><br>
        The VirES <a href="/hapi" target="_blank">HAPI</a> endpoint serves
        CHAOS magnetic model and residuals for the high-resolution Swarm
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_MAGx_HR_1B">MAGx_HR_1B</a>
        magnetic field measurements.
    </li>
    <li><b>New API for calculation of geo-magnetic models at user-provided times and locations</b><br>
        The VirES API allows calculation of model values at user-provided times and location.
        This API will be soon exposed via the VirES
        <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/available_parameters.html">VirES Python client</a>.
    </li>
</ul>
<p>
    Breaking changes:
</p>
<ul>
    <li><b>VirES API strict enforcement of the correct request content type</b><br>
        The new VirES API for calculation of model values at user-provided times and locations
        requires use of special HTTP/POST requests with attached binary content.
        In order to support these requests, strict enforcement of the request
        content type had to be implemented. Unfortunately, as result of this change,
        older versions of the Python client (&lt;&nbsp;0.12.2) may not longer work.<br>
        If you see an error like <code>Unsupported application/x-www-form-urlencoded request format!</code>,
        please, upgrade to the latest version of the
        <a target="_blank" href="https://github.com/ESA-VirES/VirES-Python-Client">VirES Python client</a>.
    </li>
</ul>
<hr>
<h3 id="3.15.2">
    Release of Service v3.15.2 (2025-04-28)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New Swarm L2 ULF and PC1 products</b><br>
        The Swarm magnetic field ultra low frequency wave characterisation
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_ULFxMAG_2F">ULFxMAG_2F</a>
        and
        <a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_PC1xMAG_2F">PC1xMAG_2F</a>,
        created by the Swarm DISC
        <a href="https://earth.esa.int/eogateway/activities/swarm-ulf-ionosphere" target="_blank">ULF project</a>,
        have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and <a href="/hapi" target="_blank">HAPI</a>.
    </li>
    <li><b>New Swarm L2 NEGIX and TEGIX products</b><br>
        The Swarm electron density (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_NIX_TMS_2F">NEGIX</a>)
        and total electron content (<a target="_blank" href="https://swarmhandbook.earth.esa.int/catalogue/SW_TIX_TMS_2F">TEGIX</a>)
        gradient ionosphere indices, created by the Swarm DISC
        <a href="https://earth.esa.int/eogateway/activities/migras" target="_blank">MIGRAS project</a>,
        have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and <a href="/hapi" target="_blank">HAPI</a>.
    </li>
    <li><b>New CHAMP, GRACE, and GRACE-FO electron density and TEC products</b><br>
        The CHAMP, GRACE, and GRACE-FO dual-spacecraft average electron density
        total electron content (TEC) product, created by the Swarm DISC
        <a href="https://earth.esa.int/eogateway/activities/tiro" target="_blank">TIRO project</a>,
        have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and <a href="/hapi" target="_blank">HAPI</a>.
    </li>
</ul>
<hr>
<h3 id="3.15.1">
    Release of Service v3.15.1 (2025-02-27)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New Swarm FAST L2 TEC products</b><br>
        VirES provides access to the
        <a href="https://earth.esa.int/eogateway/news/swarm-level-2-fast-tec-data-now-available" target="_blank">Swarm FAST L2 TEC products</a>.
        The FAST L2 datasets are available via the VirES web client, server API (accessible by means
        of the <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections" target="_blank">VirES Python client</a>),
        and <a href="/hapi">HAPI</a> interfaces.
        The Swarm FAST L2 products are kept for a period of 6 months.
    </li>
</ul>
<hr>
<h3 id="3.15.0">
    Release of Service v3.15.0 (2024-12-20)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>IGRF-14</b><br>
        The IGRF model has been upgraded to the latest 14th generation.
        This update also affects calculation of the magnetic coordinates
        (dipole, quasi-dipole and magnetic local time).
    </li>
    <li><b>CHAOS-8</b><br>
        The CHAOS model has been upgraded to the latest version 8.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.14.1 (2024-09-03)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Server SW upgrades</b><br>
        This minor release upgrades VirES server SW dependencies.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.14.0 (2024-08-01)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New CHAMP magnetic products</b><br>
        <a href="https://doi.org/10.5880/GFZ.2.3.2019.004" target="_blank">CHAMP 1Hz magnetic field measurements</a>
        have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and
        <a href="/hapi" target="_blank">HAPI</a>.
    </li>
    <li><b>New Swarm thermospheric density products</b><br>
        The Swarm thermospheric density <a href="https://swarmhandbook.earth.esa.int/catalogue/SW_DNSxPOD_2_" target="_blank">DNSxPOD_2_</a>
        and
        <a href=https://swarmhandbook.earth.esa.int/catalogue/SW_DNSxACC_2_"" target="_blank">DNSxACC_2_</a>
        products have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and
        <a href="/hapi" target="_blank">HAPI</a>.
    </li>
    <li><b>New TOLEOS thermospheric density and crosswind products</b><br>
        The CHAMP, GRACE, and GRACE-FO thermospheric density
        <a href="https://earth.esa.int/eogateway/documents/20142/37627/Swarm-TOLEOS-product-description.pdf" target="_blank">DNSxPOD_2_</a>
        and crosswind
        <a href="https://earth.esa.int/eogateway/documents/20142/37627/Swarm-TOLEOS-product-description.pdf" target="_blank">WNDxACC_2_</a>
        products prepared by the Swarm DISC
        <a href="https://earth.esa.int/eogateway/activities/toleos" target="_blank">TOLEOS</a>
        project have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and
        <a href="/hapi" target="_blank">HAPI</a>.
    </li>
    <li><b>New TOLEOS multi-mission crossover and plane alignment conjunctions product</b><br>
        The Swarm, CHAMP, GOCE, GRACE, and GRACE-FO multi-mission crossover and plane alignment conjunctions
        <a href="https://swarmhandbook.earth.esa.int/catalogue/MM_CON_EPH_2_" target="_blank">CON_EPH_2_</a>
        product by the Swarm DISC
        <a href="https://earth.esa.int/eogateway/activities/toleos" target="_blank">TOLEOS</a>
        project have been added to VirES and are accessible via the
        <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_bank">VirES Python client</a>
        and
        <a href="/hapi" target="_blank">HAPI</a>.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.13.3 (2024-07-17)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New Swarm FAST L2 FAC products</b><br>
        VirES provides access to the
        <a href="https://earth.esa.int/eogateway/news/swarm-fast-field-aligned-currents-now-available-on-swarm-dissemination-server" target="_blank">Swarm FAST L2 FAC products</a>
        The FAST L2 datasets are available via the VirES web client, server API (accessible by means
        of the <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections" target="_blank">VirES Python client</a>),
        and <a href="/hapi">HAPI</a> interfaces.
        The Swarm FAST L2 products are kept for a period of 6 months.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.13.2 (2024-04-22)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New GRACE-FO ML calibrated magnetic products</b><br>
        The ML calibrated magnetic field measurements from the GRACE-FO mission
        have been added to VirES and are accessible via the API.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.13.1 (2024-01-26)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>F10.7 averaging and fixed MIO models</b><br>
        The evaluation of the MIO models has been changed to use
        the 81-days moving average of the observed F10.7 values rather
        than the (incorrect) observed daily F10.7 values.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.13.0 (2023-12-12)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Support for Swarm FAST L1B products</b><br>
        VirES provides access to the
        <a href="https://earth.esa.int/eogateway/news/swarm-fast-data-ready-to-be-released" target="_blank">fast-tract Swarm level 1B products</a>.
        The FAST datasets are available via the VirES server API, accessible by means
        of the <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html#collections" target="_blank">VirES Python client</a>,
        and <a href="/hapi">HAPI</a> interfaces.
        The Swarm L1B FAST products are kept for a period of 6 months.
    </li>
    <li><b>Change of the Kp data source</b><br>
        The synchronization of the Kp index has been reworked.
        The Kp data is now retrieved directly from its <a href="https://kp.gfz-potsdam.de/" target="_blank">primary source.</a>
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.12.0 (2023-09-04)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Caching of selected slow magnetic models</b><br>
        To speed-up the calculation of the most frequently use magnetic models
        (CHAOS, Swarm-CI) selected slow-to-calculate MLI (CHAOS-Static,
        SW_MLI_SHA_2C) and MIO (SW_MIO_SHA_2C) magnetic modes are
        pre-calculated for the spacecraft locations are pulled from the cache
        rather that calculated on the fly.
    </li>
    <li><b>MAG products served via HAPI provide reference magnetic model</b><br>
        All MAG products served by VirES via the HAPI except the Swarm MG HR
        provide reference values calculated from the complete CHAOS model
        and the residuals when subtracted from the measurements.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.11.0 (2022-12-19)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New datasets published via Heliophysics API</b><br>
      Swarm non-MAG products (EFI LP, EFI IDM, EFI TIE, EFI TCT, EEF TMS,
      IBI TMS, FAC TMS, TEC TMS, IPD IRR, AEJ LPL, AEJ PBL, AEJ LPS, AEJ PBS,
      AOB FAC, MIT LP, MIT TEC, PPI FAC) have been exposed via the
      <a target="_blank" href="/hapi">VirES HAPI interface</a>.
    </li>
    <li><b>Improved model performance</b><br>
      The calculation of geo-magnetic models have been reviewed
      and its performance have been significantly improved.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.10.0 (2022-10-22)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Extended data filtering API</b><br>
      The VirES server API has been modified to allow new types of data filters.
      It is now possible to filter data by various equality and
      inequality predicates and masked bit flags. The new filters API
      can be fully exploited via the
      <a target="_blank" href="https://viresclient.readthedocs.io/en/latest/">VirES Python client</a>.
    </li>
    <li><b>Bit-flags filters in web client</b><br>
      The VirES web client now allows data filtering by binary quality
      and calibration flags. Thanks to the new server API, the same filters
      can be applied to the downloaded data.
    </li>
    <li><b>Plotting error-bars</b><br>
      The Analytical Viewer is now capable of plotting uncertainty as error bars.
    </li>
    <li><b>New EFIxIDM products</b><br>
      The new ion drift, density and effective mass products
      (<a target="_blank" href="https://earth.esa.int/eogateway/documents/20142/2860886/SLIDEM_Product_Definition.pdf">EFIxIDM</a>)
      prepared by the <a target="_blank" href="https://earth.esa.int/eogateway/activities/slidem">SLIDEM</a> project
      have been added to VirES. The data is accessible via both API and web-client.
    </li>
    <li><b>EFIxTIE and EFIxTCT products accessible via web-client</b><br>
      The data from the Thermal Ion Imager cross track flow
      (<a target="_blank" href="https://earth.esa.int/eogateway/documents/20142/37627/swarm-EFI-TII-cross-track-flow-dataset-release-notes.pdf">EFIxTCT</a>, 2&nbsp;Hz)
      and ion temperature estimate (<a target="_blank" href="https://earth.esa.int/eogateway/missions/swarm/product-data-handbook/level-2-product-definitions#EFIxTIE_2_">EFIxTIE</a>),
      added to VirES in the previous release, have been made accessible via the web client.
    </li>
    <li><b>New GOCE calibrated magnetic field measurements</b><br>
      The calibrated magnetic field measurements from the GOCE mission
      has been added to VirES and are accessible via the API.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.9.0 (2022-05-20)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New EFI TII products</b><br>
      VirES now offers API access to data from the following EFI TII products:
      <ul>
        <li>2&nbsp;Hz and 16&nbsp;Hz thermal ion imager - cross track flow (<a target="_blank" href="https://earth.esa.int/eogateway/documents/20142/37627/swarm-EFI-TII-cross-track-flow-dataset-release-notes.pdf">EFIxTCT</a>)</li>
        <li>Ion temperature estimate (<a target="_blank" href="https://earth.esa.int/eogateway/missions/swarm/product-data-handbook/level-2-product-definitions#EFIxTIE_2_">EFIxTIE</a>)</li>
      </ul>
    </li>
    <li><b>Heliophysics API</b><br>
      Publishing CryoSat-2, GRACE and GRACE-FO calibrated platform
      magnetometer measurements via the
      <a target="_blank" href="/hapi">Heliophysics Application Programming Interface (HAPI)</a>.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.8.0 (2022-02-07)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Heliophysics API</b><br>
      Selected datasets are now accessible via the
      <a target="_blank" href="/hapi">Heliophysics Application Programming Interface (HAPI)</a>.
    </li>
    <li><b>Support for multi-file CHAOS 7.9 model</b><br>
      Since the version 7.9 the CHAOS model is distributed in two SHC files,
      one for the regular model and one for the linear prediction.
      With this release VirES supports properly this new format.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.7.0 (2021-10-08)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New API for Swarm-A/Swarm-B conjunctions</b><br>
      The VirES server calculates times of minimal angular separation
      (conjunctions) between the Swarm-A and Swarm-B spacecrafts.
      These times can be requested via a new server API
      (see <a href="https://viresclient.readthedocs.io/en/latest/api.html#viresclient.SwarmRequest.get_conjunctions" target="_blank">client documentation</a>).
    </li>
    <li><b>Upgrade of the AMPS magnetic model</b><br>
      The AMPS model has been upgraded its current latest version 0104 (pyAMPS v1.5.2).
    </li>
    <li><b>Removing Facebook social network authentication</b><br>
      Sadly, due to the unfavourable service terms we had to remove the Facebook social
      network authentication from VirES.
      If Facebook was your only login method, please request your new password
      via the <a href="/oauth/accounts/password/reset/" target="_blank">password reset</a>
      or contact us via <a href="mailto:support@vires.services" target="_top">support@vires.services</a>.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.6.0 (2021-08-23)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New Plasmapause Related boundaries in the topside Ionosphere as derived from Swarm Measurements (PRISM) products</b><br>
      The data from the new MITx_LP_2F, MITxTEC_2F, PPIxFAC_2F products prepared by the
      <a href="https://earth.esa.int/eogateway/activities/plasmapause-related-boundaries-in-the-topside-ionosphere-as-derived-from-swarm-measurements" target="_blank">PRISM project</a>
      have been added to VirES and they are accessible through the VirES API.
    </li>
    <li><b>New CryoSat-2, GRACE and GRACE-FO magnetic measurements</b><br>
      API access to magnetic field measurements acquired by the CryoSat-2,
      GRACE and GRACE-FO missions has been added to VirES.
    </li>
    <li><b>Multi-mission support</b><br>
      The "VirES for Swarm" server and API has been extended to support
      products from missions other than Swarm, including the auxiliary data
      such as the orbit numbers and directions.
    </li>
    <li><b>Swarm spacecraft position from MODx_SC_1B products</b><br>
      The Swarm spacecraft positions are now read from the MODx_SC_1B products
      with better temporal coverage than the previously used MAGx_LR_1B.
      The MODx_SC_1B positions are also available via the VirES API.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.5.0 (2021-04-15)
</h3>
<p>
    Features:
</p>
    <li><b>New Auroral Electrojet and auroral Boundaries estimated from Swarm observations (AEBS) products</b><br>
      The data from the new AEJxLPL_2F, AEJxPBL_2F, AEJxLPS_2F, AEJxPBS_2F, and AOBxFAC_2F products
      have been added to VirES and they are accessible through both the API and Web-GUI.
    </li>
<ul>
    <li><b>New virtual observatory products</b><br>
      The VOBS products prepared by the
      <a href="https://www.space.dtu.dk/english/research/projects/project-descriptions/geomagnetic-virtual-observatories" target="_blank">GVO project</a>
      are now accessible via the VirES API.
    </li>
    <li><b>New ground magnetic observatory data</b><br>
      The <a target="_blank" href="https://intermagnet.org/index-eng.php">INTERMAGNET</a>
      and <a target="_blank" href="https://wdc.bgs.ac.uk/">WDC</a>
      hourly AUX_OBS products are now accessible via the VirES API.
    </li>
    <li><b>Orbit plotting</b><br>
      It is now possible to plot orbits of the Swarm spacecrafts
      in the Globe view.
    </li>
    <li><b>Improved AEBS products plotting</b><br>
      The AEBS peaks and boundaries are now be displayed also
      in the Analytics view 2D plots.
    </li>
</ul>
<p>For more details on the VirES API, see the <a href="https://viresclient.readthedocs.io/en/latest/available_parameters.html" target="_blank">VirES Python Client documentation</a>.</p>
<hr>
<h3>
    Release of Service v3.4.0 (2020-10-02)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New Auroral Electrojet and auroral Boundaries estimated from Swarm observations (AEBS) products</b><br>
      The data from the new AEJxLPL_2F, AEJxPBL_2F, AEJxLPS_2F, AEJxPBS_2F, and AOBxFAC_2F products
      have been added to VirES and they are accessible through both the API and Web-GUI.
    </li>
    <li><b>New new magnetic observatory data</b><br>
      The <a target="_blank" href="https://intermagnet.org/index-eng.php">INTERMAGNET</a>
      and <a target="_blank" href="https://wdc.bgs.ac.uk/">WDC</a>
      1 minute and 1 second AUX_OBS products are now accessible via the VirES API.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.3.0 (2020-06-05)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Adding the Swarm extended lithospheric model </b><br>
      The Swarm extended lithospheric model
      <a href="https://earth.esa.int/eogateway/missions/swarm/product-data-handbook/level-2-product-definitions#MLI_SHA_2E" target="_blank">MLI_SHA_2E</a>
      has been added to VirES.
    </li>
    <li><b>New AMPS magnetic model</b><br>
      The magnetic field calculated by the
      <a href="https://pyamps.readthedocs.io/en/latest/readme.html" target="_blank">AMPS model</a>
      has been added to VirES.
    </li>
    <li><b>Composed magnetic models</b><br>
      A set of new composed magnetic models have been added to VirES.
      These composed models group already available simple models
      and form new, complete and easy-to-use ones:
      <ul>
        <li>SwarmCI - Swarm Comprehensive Inversion model (MCO_SHA_2C, MLI_SHA_2C, MMA_SHA_2C, MIO_SHA_2C)</li>
        <li>CHAOS-7 (CHAOS-7 Core, CHAOS-7 Static, CHAOS-MMA)</li>
        <li>CHAOS-MMA (CHAOS-MMA-Primary + CHAOS-MMA-Secondary)</li>
        <li>MMA_SHA_2C (MMA_SHA_2C-Primary, MMA_SHA_2C-Secondary)</li>
        <li>MMA_SHA_2F (MMA_SHA_2F-Primary, MMA_SHA_2F-Secondary)</li>
        <li>MIO_SHA_2C (MIO_SHA_2C-Primary, MIO_SHA_2C-Secondary)</li>
        <li>MIO_SHA_2D (MIO_SHA_2D-Primary, MIO_SHA_2D-Secondary)</li>
      </ul>
    </li>
    <li><b>New dDst index</b><br>
      The absolute value of the Dst temporal rate of change has been added
      to VirES as a new index quantifying the magnetospheric activity.
    </li>
    <li><b>VRE automatic VirES access configuration</b><br>
      The VRE is now initialized automatically and it is no longer needed
      to configure the VirES Python client manually.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.2.0 (2020-04-06)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Python 3 and Django 2.2 support</b><br>
      The VirES for Swarm server has been migrated to Python 3 and Django 2.2.
    </li>
    <li><b>MAGx_HR_1B</b><br>
      High-resolution MAGx_HR_1B products are accessible via the
      server API (VirES Python client).
    </li>
    <li><b>New EEFxTMS_2F baseline 02</b><br>
      The EEFxTMS_2F baseline 02 products are now provided by VirES.
    </li>
    <li><b>Removal of the deprecated models</b><br>
      The deprecated IGRF12 and CHAOS-6-* models have been removed
      from VirES.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.1.3 (2020-01-20)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>IGRF-13</b><br>
      The IGRF model has been upgraded to the latest 13th generation.
      This update also affects calculation of the magnetic coordinates
      (dipole, quasi-dipole and magnetic local time).
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.1.2 (2019-12-11)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Django 1.11</b><br>
      Server migrated to Django 1.11.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.1.1 (2019-11-14)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>CHAOS-7</b><br>
      The CHAOS geomagnetic model has been updated to its
      latest version <a href="https://spacecenter.dk/files/magnetic-models/CHAOS-7/" target="_blank">CHAOS-7</a>.
    </li>
    <li><b>Redesigned data upload user interface</b><br>
      The data upload user interface has been redesigned.
      It is now possible to set additional constant parameters
      not present in uploaded dataset. This feature can be use, e.g.,
      to specify missing mandatory coordinates of a stationary ground observatory.
    </li>
    <li><b>VRE integration</b><br>
      The Jupyter-based
      <a href="https://swarm-vre.readthedocs.io" target="_blank">Virtual Research Environment (VRE)</a>
      has been opened for all VirES users and a direct link has been added
      to the VirES client user interface.
    </li>
    <li><b>Reviewed service terms and conditions</b><br>
      The VirES <a href="/service_terms" target="_blank">Service Terms</a>
      have been reviewed and updated. In addition, a
      <a href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation" target="_blank">GDPR</a>
      compliant <a href="/privacy_notice" target="_blank">Privacy Notice</a> has been added.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.1.0 (2019-09-03)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New ionospheric plasma irregularities products (IPIR)</b><br>
      Support for the new IPDxIRR_2F products has been added to VirES.
    </li>
    <li>
      <b>Revised list of magnetic models</b><br>
      Following outdated magnetic models were removed from VirES:
      <ul><li>SIFM</li><li>MCO_SHA_2F</li></ul>
      Following crustal field models were added to VirES:
      <ul><li>LCS-1</li><li>MF7</li></ul>
    </li>
    <li>
      <b>Workspace export/import</b><br>
      It is now possible to save the state of the VirES application
      to a JSON file. This file can be then later loaded recalling the saved
      application state.
    </li>
    <li>
      <b>Workspace initial state invocation</b><br>
      The VirES application can be invoked with a predefined state.
    </li>
    <li>
      <b>Improved user data upload and support for CSV data format.</b><br>
      The custom user data upload has been improved based on the feedback
      to the initial implementation released in v3.0.0.
      Support for arbitrary custom variables and CSV data format has been added.
      For more details, see the
      <a href="/custom_data_format_description" target="_blank">data format specification</a>.
    </li>
    <li>
      <b>Revised user management</b><br>
      In order to allow access to multiple related services using
      one VirES user identity (single sign-on) the VirES user management has
      been revised. From now on, the users' identities are held by a separate
      OAuth2 Identity Server.
      <br>Apart from a minor change of the user interface, this change is
      transparent to the VirES users. The existing accounts are preserved,
      including the social account authentication, and no action is required
      from the users.
    </li>
    <li>
      <b>Authentication using GitHub accounts</b><br>
      The GitHub has been added to the list of the supported social network
      identity providers and it is now possible to use GitHub account
      to log into VirES.
    </li>
</ul>
<hr>
<h3>
    Release of Service v3.0.0 (2019-05-10)
</h3>
<p>
    Features:
</p>
<ul>
    <li>
      <b>Full source products/models traceability</b><br>
      Information about the source products/models and their versions
      is now available for both the downloaded data and data displayed
      in the client.
    </li>
    <li>
      <b>Improved composed model GUI</b><br>
      The client-side handling of the composed models has been
      thoroughly reviewed. The client GUI now shows information
      about the source models and the composed model expressions
      are now consistently shown throughout different parts
      of the web client.
    </li>
    <li>
      <b>Enhanced field-lines</b><br>
      The displayed field-lines can be now selected by clicking.
      Information about the apex and ground intersections
      is displayed for a selected field-line.
    </li>
    <li>
      <b>New cyclic color-maps</b><br>
      Two new cyclic color-maps (<a href="https://matplotlib.org/stable/tutorials/colors/colormaps.html#cyclic" target="_blank">twilight and twilight-shifted</a>)
      have been added to be used with cyclic variables such as
      latitude or MLT.
    </li>
    <li>
      <b>User data upload</b><br>
      A possibility to upload own data in the CDF file and compare
      them with the Swarm products has been added.
      The supported file format is identical the format of the
      downloaded data and most of the Swarm products (e.g., MAGx_LR).
    </li>
    <li>
      <b>Machine-to-machine (M2M) interface</b><br>
      The <a href="/ows" target="_blank">VirES server M2M interface</a> has been
      opened for registered VirES users. This interface has been so
      far accessible only indirectly trough web client.
      Now it can used either directly via the low-level API
      (based on the OGC WPS protocol) or via an alternative VirES
      client (e.g. <a href="https://viresclient.readthedocs.io/en/latest/" target="_blank">VirES Python Client</a>.
    </li>
    <li>
      <b>Token-based authentication for the M2M interface</b><br>
      The access to the <a href="/ows" target="_blank">VirES server M2M interface</a>
      is granted only for authenticated requests.
      A new option to use the token-based authentication has been
      added to VirES. The access tokens can be generated and revoked
      by the users themselves via the user settings of the web client.
    </li>
</ul>
<hr>
<h3>
    Release of Service v2.3.0 (2019-03-22)
</h3>
<p>
    Features:
</p>
<ul>
    <li>
      <b>Improved data plotting</b><br>
      The data visualization has been improved by the following
      enhancements of the Analytic Viewer:<br>
      <ul>
        <li>
          Multiple plots can be stacked vertically sharing the X-axis.
          Each plot can displays a different set of parameters.
        </li>
        <li>
          The plotted data can be coloured by mapping values of
          another parameter.
        </li>
        <li>
          New styling options were added such as the selection of font
          size of the labels, size and symbol of the data points or
          their optional connection by line.
        </li>
        <li>
          Naturally periodic parameters (longitude, QD-longitude, MLT)
          are displayed using periodic axes.
        </li>
        <li>
          Special "periodic latitude" and "periodic QD-latitude"
          axes were added to display data periodically along
          the polar orbit of the Swarm satellites.
        </li>
      </ul>
    </li>
    <li>
      <b>Reworked model selection</b><br>
      The selection of the geomagnetic models has been thoroughly
      reworked to allow composition of new derived models from
      different components such as core, lithosphere,
      magnetosphere and ionosphere.
      These new composed models can be visualized or subtracted from
      the satellite measurements (residuals).<br>
      The source models can be constrained by a desired range
      of degrees of the spherical-harmonic coefficients and
      added to or subtracted from each other.
    </li>
</ul>
<hr>
<h3>
    Release of Service v2.2.3 (2019-02-15)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New model data</b><br>Following new models have been added for visualization, analysis and filtering options:<br>
      <ul>
        <li>CHAOS-6-MMA-Primary</li>
        <li>CHAOS-6-MMA-Secondary</li>
      </ul>
    </li>
    <li><b>Updated TEC support</b><br>The TEC product support has been aligned with the latest baseline and VirES newly allows access to the Elevation Angle and Absolute Vertical TEC parameters.</li>
    <li>
      <b>Magnetic models' validity</b><br>
      Handling of the magnetic model validity has been improved:
      <ul>
        <li>The validity period of the magnetic models is now dynamically synchronised with the server.</li>
        <li>The validity period is now displayed also for the user provided Custom SHC model.</li>
        <li>The models are not visualized for time selections outside their validity period.</li>
      </ul>
    </li>
</ul>
<hr>
<h3>
    Release of Service v2.2.2 (2019-01-11)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New plasma products</b><br>Support for the new EFIx_LP_1B has been added to VirES. The new EFIx_LP_1B products replaced the discontinued EFIx_PL_1B products.</li>
</ul>
<hr>
<h3>
    Release of Service v2.2.1 (2018-09-04)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>New model data</b><br> New models have been added for visualization, analysis and filtering options. When selecting magnetic (MAG) product in combination with models the respective residuals will be calculated which can be used for filtering and plotting parameters. It is also possible to calculate the difference between models by opening the settings panel and selecting another model from the "Difference to" drop-down selection. The newly integrated models are:<br>
      <ul>
     <li>MMA_SHA_2F-Primary</li>
     <li>MMA_SHA_2F-Secondary</li>
    </ul></li>
    <li><b>F10.7 index</b><br>The F10.7 index has been added as a new index layer and its source has been changed from the AUX_IMF_2_ to AUX_F10_2_ product.</li>
</ul>
<h3>
    Release of Service v2.2 (2018-06-04)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Plotting (Analytics viewer) tool reworked and updated</b><br>The performance of the (scatter) plot tool has been increased and multiple new features have been introduced:<ul>
      <li>The user interface has been rearranged to provide more space for plotting, the download button has been moved to the navigation bar on top</li>
      <li>By clicking on the parameter label it is possible to set the symbol to be used, as well as color and connection by line</li>
      <li>By clicking on the axis parameter labels it is now possible to directly select which parameter should be used for which axis as well as the possibility to set the scale to logarithmic</li>
      <li>The filters panel on the bottom is now scrollable allowing selection of any amount of filters you need to work with</li>
      <li>The add filter button has been improved to more easily allow searching for a specific parameter (it is possible to filter by name, description and UOM)</li>
      <li>The visualization of time on the x axis has been reworked to show better tick-marks as well as always showing complete dates for start and end ticks</li>
    </ul></li>
    <li><b>New model data</b><br> New models have been added for visualization, analysis and filtering options. When selecting magnetic (MAG) product in combination with models the respective residuals will be calculated which can be used for filtering and plotting parameters. It is also possible to calculate the difference between models by opening the settings panel and selecting another model from the "Difference to" drop-down selection. The newly integrated models are:<br>
      <ul>
     <li>MCO_SHA_2C</li>
     <li>MCO_SHA_2D</li>
     <li>MCO_SHA_2F</li>
     <li>MLI_SHA_2C</li>
     <li>MLI_SHA_2D</li>
     <li>MMA_SHA_2C-Primary</li>
     <li>MMA_SHA_2C-Secondary</li>
     <li>MIO_SHA_2C-Primary</li>
     <li>MIO_SHA_2C-Secondary</li>
     <li>MIO_SHA_2D-Primary</li>
     <li>MIO_SHA_2D-Secondary</li>
    </ul></li>
    <li><b>Updated TEC visualization</b><br>The visualization of the TEC product has been updated to show vector lines in direction to the related GPS satellites (instead of the previous visualization of points offset in height for each measurement)</li>
    <li><b>F10.7 index</b><br>A new parameter "F10.7 index" (taken form the AUX_IMF_2_ product) has been introduced to for additional sorting and plotting options</li>

</ul>

<hr>
<h3>
    Release of Service v2.1 (2017-10-20)
</h3>
<p>
    Features:
</p>
<ul>
    <li><b>Alpha and Charlie satellite residuals</b><br>The magnetic residual between satellites Alpha and Charlie in the NEC-frame have been added as parameters. The residuals can be accessed together with magnetic data from Swarm Alpha.</li>
    <li><b>Orbit number</b><br>The orbit number has been added as a parameter counting the number of Equator crossings of the ascending node since the Swarm mission start. </li>
    <li><b>Spacecraft as product parameter</b><br>A new parameter "Spacecraft" has been introduced to downloaded data to easily identify which satellite downloaded data originates from within a product.</li>
    <li><b>Solar position</b><br>
      Several parameters to determine the position of the sun have been added as filters:
      <ul>
        <li>SunDeclination, SunRightAscension and SunHourAngle defining Sun position in the Equatorial Coordinate System</li>
        <li>SunZenithAngle, SunAzimuthAngle defining Sun position in the local Horizontal Coordinate System</li>
      </ul>
      See <a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system" target="_blank">"Equatorial coordinate system"</a> and <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system" target="_blank">"Horizontal coordinate system"</a>.
    </li>
    <li>All new parameters described above can be downloaded as part of a product by selecting them with the "Custom download parameters" in the Download panel.
    </li>
    <li><b>Cursor coordinates on globe</b><br>On hover of the globe in the Globe View, latitude and longitude for that point will be displayed in the top-left corner.</li>
    <li><b>Extended Download panel functionality</b><br>Parameter filters can be added directly in the Download panel by selecting "Add filter" in the Download panel. A Timestep filter enabling subsampling of the product. Subsampling can be enabled by selecting "Custom time subsampling" and specifying subsample interval in the Download panel. Subsampling will be applied to each daily product independently.</li>
    <li><b>Product names in Layers</b><br>Several data selections have been renamed:
        <ul>
            <li>"Electric Field Data" changed to "Equatorial electric field (EEF)"</li>
            <li>"Electron data" changed to "Total electron content (TEC)"</li>
            <li>"Currents data" changed to "Electric current data (FAC)"</li>
            <li>"Non S/C" changed to "AC" (currently only includes combined S/C FAC data)</li>
        </ul>
    </li>
    <li><b>Model difference</b><br>The difference between two models at any coefficient range can be displayed on the globe. This functionality can be accessed under settings of any of the geomagnetic models available in the Layers panel.</li>
    <li><b>CHAOS-6</b><br>Geomagnetic field model CHAOS-5 has been replaced by <a href="https://spacecenter.dk/files/magnetic-models/CHAOS-6/" target="_blank">CHAOS-6</a> in the Layers panel.</li>
    <li><b>Cartographic layer update</b><br>"Blue Marble" layer previously available in the Layers panel has been updated with a "S2 Cloudless" mosaic, which has higher resolution and is based on Sentinel-2 data.</li>
</ul>



<hr>
  <h3>
    Release of Service v2.0 (2017-03-20)
  </h3>

<p>
    Features:
</p>
<ul>
       <li><b>Asynchronous processing</b><br>It is now possible to download filtered Swarm data from an arbitrarily large time span to one file. This can be done by defining your filters in the analytics view (in addition to area selection on the globe view) for a smaller time span. Once satisfied with your selection you can click on download. In the Download Manager which then appears you can set the time window of interest, then click on "Process &amp; create link". The processing is then done in the background, the progress can be seen in the download panel. Once finished a download link is provided there for you to get the results. Download limit will be set to the equivalent of 50 Magnetic low rate products.</li>
      <li><b>Ionospheric total electron content data</b><br>The data from TECxTMS_2F has been added to VirES with the possibility to view the Absolute slant TEC, Relative slant TEC and the root mean square error of relative slant TEC on the globe. A new visualization was created for this product to display the TEC parameter value for each of the paths to nearby GPS satellites simultaneously. The values for a timestamp are shown one above the other, allowing one to quickly see how many satellites were visible and what the values were for each timestamp shown. </li>
      <li><b>Field aligned current </b><br>The data from FACxTMS_2F (single S/C soluton) and FAC_TMS_2F (combined S/C solution) has been added to VirES with the possibility to view the Field-aligned current (FAC) and Ionospheric radial current (IRC) on the globe and in the Analytics View. The combined S/C solution data can be found by selecting "Non S/C" and "Currents data (FAC)" in the Layers widget.</li>
      <li><b>Dayside equatorial electric field</b><br>The data from EEFxTMS_2F has been added to VirES with the possibility to view the Estimate of the equatorial electric field (EEF) on the globe and in the Analytics View.</li>
      <li><b>Local evaluation of custom model</b><br>Providing a more detailed rendering, one can restrict the evaluation of a custom uploaded spherical harmonics model to an area of interest with the Area Selection tool. </li>
      <li><b>Updated backplane map</b><br>The new version of the backplane map offers the following improvements:<ul>
      <li>Digital Elevation Model (DEM) data merged from SRTM, ASTER and regional/local data like EU-DEM</li>
      <li>New shaded relief with better generalization and geotopographical features</li>
      <li>Improved generalization of coastlines and land polygons</li>
      <li>Updated OpenStreetMaps data</li>
      <li>Removed data gap within Antarctica</li></ul>
</ul>


<hr>
  <h3>
    Release of Service v1.2 (2016-12-21)
  </h3>

<p>
    Features:
</p>
<ul>
      <li><b>Resume session</b><br>Upon termination of your session information about the view, time window, area, data and filter selections and all corresponding settings will be stored for your convenience. Upon restart of the service, your session will be resumed where you left off. The session state information is stored locally with your internet browser, unless VirES is accessed using private browsing.</li>
      <li><b>Jump to date</b><br>To quickly access data from any part of the Swarm mission, press on the button in the top right corner of the timeslider slider. This will allow you to display data from a date of your choice. The time selection will be on a corresponding time of day as your previous time selection. If the previous time selection passes over midnight, the selection will be clipped to end at midnight</li>
      <li><b>Set detailed download time filter</b><br>In addition to filtering Swarm products by a wide range of parameters when downloading, you can select "Custom time selection" in the Download Manager. This will make it possible to define a precise start and end time for the downloaded product. Other filters shown in the Download Manager will still apply to the data</li>
      <li><b>New overlay layers</b><br> Three new overlays are available from the layers panel:
        <ul>
          <li>Coastlines and Countries: Black coastlines with light grey country borders</li>
          <li>Graticules: Grid lines for geographic longitude/latitude</li>
          <li>Magnetic graticules: Grid lines for magnetic longitude/latitude</li>
        </ul>
      </li>
      <li><b>Additional colour scales</b><br>When selecting Swarm products or models to display on the globe, the colour representation of the data can be set in the respective settings widgets found in the Layers widget. It is now possible to choose between 27 scales including ones such as viridis, plasma and portland. The names of custom1 and custom2 colour scales have been changed to diverging_1 and diverging_2 to better represent the corresponding style.</li>
</ul>

<hr>
  <h3>
    Release of Service v1.1 (2016-09-26)
  </h3>

<p>
    Features:
</p>
<ul>
      <li><b>Plasma products</b><br>The data from EFIX_PL_1B have been added to VirES with the possibility to view the plasma density and temperature, in addition to the spacecraft velocity and potential both on the globe and in the Analytics View. The full set of parameters are accessible on download</li>
      <li><b>Ionospheric bubble product</b><br>The data from IBI_TMS_2F have been added to VirES with the possibility to view the bubble probability on the globe and in the Analytics View. Positive Bubble index detections are shown in the time slider. The full set of parameters are accessible on download</li>
      <li><b>Layers interface changes</b><br>The Layers widget has changed separating out satellite specific products. Selecting a satellite specific product is now independent of selecting what satellites to view data from. Selection of satellite is done using separate checkboxes in the Layers widget. This change was introduced to make the Layers widget more compact after adding more products.</li>
      <li><b>Customize download fields</b><br>When downloading data, in addition to customizing the exact filter values and format, it is possible to specify what parameters to include by ticking off on "Custom download parameters", then either select the data from a dropdown menu or type it in. This customization allows for parameters from multiple Swarm products.</li>
      <li><b>Label with colorscale information directly integrated into globe visualization</b><br>Now when using the save function the currently configured color scale and ranges are saved also into the image. It is possible to toggle the visualization of the label in the settings panel for each Layer using the "Legend" tickbox.</li>
      <li><b>Dynamic range calculation for models</b><br>When changing model parameters (for SIFM, IGRF12, CHAOS-5 and Custom Model), such as the coefficient range or height, the colorscale range is calculated and adjusted automatically. It is still possible to manually adjust the range with both textfields available in the settings panel. This change was introduced as it became clear that finding the correct range after changing model parameters was cumbersome for users and we wanted to facilitate the process.</li>
      <li><b>Single axis interaction</b><br>When exploring the scatterplot, one can scroll when hovering over an axis to zoom along one axis while keeping the other axes ranges fixed. Similarily one can drag on an axis to pan the plot. These features apply to both the x-axis and the y-axes and complement the zooming and panning one can perform on the scatterplot itself to zoom along all axes.</li>
      <li><b>Zoom limit removed</b><br>The zoom limit previously applied to the scatterplot is now removed. There are now no restrictions to how far you can zoom in or out. A reset button is added to enable the user to return to the initial zoom level and position at one's convenience.</li>
      <li><b>Customizable filter list</b><br>The data filter histograms found in the Analytics View can be removed individually, and new histograms for any other available parameter can be added by selecting it in the histogram "Add" dropdown menu. Any active filters will be removed when its corresponding histogram is removed. In addition the filters can be hidden to allow for more space for the scatterplot.</li>
      <li><b>Secondary y-axis</b><br>When selecting multiple parameters a second y-axis will appear. When selecting two parameters this means that each parameter has its own axis. If more than two parameters are selected, they will be grouped according to their range, such that the parameters with the most similar value ranges are grouped together and share an axis.</li>
      <li><b>Scatterplot units</b><br>The units are now displayed in a parenthesis next to the axis parameter labels in the scatterplot.</li>
      <li><b>Extended time selection</b><br>The time selection limit when selecting a time window from the time slider has been extended from 15 days to 30 days. The limit when downloading products has not changed and is still set at the equivalent of 5 unfiltered MAGX_LR products.</li>
</ul>

<hr>
{% endblock content %}
