{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <form method="post" action="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
    {% csrf_token %}
    <button type="submit" class="socialaccount_provider {{provider.id}} {{brand.id}}" title="{{brand.name}}">{{brand.name}}</button>
  </form>
</li>
{% endfor %}
{% endif %}
<li>
  <form method="post" action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    {% csrf_token %}
    <button type="submit" class="socialaccount_provider {{provider.id}}" title="{{provider.name}}">{{provider.name}}</button>
  </form>
</li>
{% endfor %}
