{% extends "vires/base.html" %}
{% load i18n %}
{% block title %}
  <title>VirES for Swarm</title>
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    {% load staticfiles %}
    {% load account %}

   <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setUserId', '{% user_display user %}']);
      _paq.push(['trackGoal', 3]);
      _paq.push(['setDocumentTitle', "Changelog"]);
    </script>

{% else %}

    {% load staticfiles %}

    <link href="{% static 'css/form_styles.css' %}" rel="stylesheet">

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setDocumentTitle', "Changelog"]);
    </script>

{% endif %}

    <link href="{% static 'workspace/bower_components/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/landing_page.css' %}" rel="stylesheet">
    <link href="{% static 'css/form_styles.css' %}" rel="stylesheet">

      <div class="row" style="min-height: 87%;">
        <div class="col-sm-6 col-sm-offset-3 larger">
          <h1>Changelog</h1>

          <hr>
            <h3>
              Release of Service v1.1 (26.09.2016)
            </h3>

          <p>
              Features:
          </p>
          <ul>
                <li><b>Label with colorscale information directly integrated into globe visualization</b></br>Now when using the save function the currently configured color scale and ranges are saved also into the image. It is possible to toggle the visualization of the Label in the settings panel for each Layer.</li>
                <li><b>Dynamic range calculation for models</b></br>When changing model parameters (SIFM, IGRF12, CHAOS-5, Custom Model), such as the coefficient range or height the range (or domain) for the colorscale is calculated and set automatically. Of course it is still possible to manually adjust the range with both textfields available in the settings panel. This change was introduced as it became clear that finding the correct range after changing model parameters was cumbersome for users and we wanted to facilitate the process.</li>
          </ul>

          <hr>

        </div><!--/col-->

    </div><!--/container-->

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">

                <a href="http://eox.at" target="_blank" style="text-decoration: none;">
                  <img style="height:30px; display:inline;" src="{% static 'images/EOX_Logo_inverted.png' %}">
                </a>


                <p class="text-muted" style="display:inline;">service for</p>


                <a href="http://esa.int" target="_blank" style="text-decoration: none;">
                  <img style="height:50px;  display:inline; margin-left:4px;" src="{% static 'images/esa_logo_white.png' %}">
                </a>

            </div>
          </div>

          <div class="col-md-6 text-muted" style="text-align: center; margin-top:15px;">
            <a style="display:inline; margin-right:5px;" href="{% static 'other/T&C_for_ESA_Dataset-v1.pdf' %}" target="_blank_">ESA Data Terms</a> | 
            <a style="display:inline; margin-left:5px;" href="/accounts/servicetc" target="_blank_">VirES Service Terms</a> |
            <a href="https://earth.esa.int/swarm" target="_blank">Swarm Official Site</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav pull-right scroll-top">
      <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>


    <!-- script references -->
    {% load staticfiles %}

    <script src="{% static 'workspace/bower_components/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'workspace/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/landing_page.js' %}"></script>

    <!-- End landing page -->
  
{% endblock %}
