{% extends "vires/base.html" %}
{% load i18n %}
{% block title %}
  <title>VirES for Swarm</title>
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
    {% load staticfiles %}
    {% load account %}

   <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setUserId', '{% user_display user %}']);
      _paq.push(['trackGoal', 3]);
      _paq.push(['setDocumentTitle', "Changelog"]);
    </script>

{% else %}

    {% load staticfiles %}

    <link href="{% static 'css/form_styles.css' %}" rel="stylesheet">

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setDocumentTitle', "Changelog"]);
    </script>

{% endif %}

    <link href="{% static 'workspace/bower_components/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/landing_page.css' %}" rel="stylesheet">
    <link href="{% static 'css/form_styles.css' %}" rel="stylesheet">

      <div class="row" style="min-height: 87%;">
        <div class="col-sm-6 col-sm-offset-3 larger">
          <h1>Changelog</h1>

          <hr>
            <h3>
              Release of Service v2.0 (20.03.2017)
            </h3>

          <p>
              Features:
          </p>
          <ul>
                <li><b>Asynchronous processing</b></br>This download extension makes it possible to find and download specific events throughout the whole Swarm mission. First you can specify filters that determine your use case. This can be done by clicking and dragging in the histograms of the analytics view which interactively shows the results for the current time selection on the scatter plot. Once satisfied with your selection you can click on download. There you can select a larger time span, up to the complete mission and click on "Process &amp; create link". The processing is then done in the background, the progress can be seen in the download panel. Once finished a download link is provided there for you to get the results.
                </li>
                <li><b>Ionospheric total electron content data</b></br>The data from TECxTMS_2F has been added to VirES with the possibility to view the Absolute slant TEC, Relative slant TEC and the root mean square error of relative slant TEC on the globe. TEC essentially measures the lag(signal delay) for signals between the Swarm satellites and nearby GPS satellites (which is proportional to the integrated electron density along the line of sight between the satellites). For every timestamp there is communication with multiple GPS satellites resulting in multiple values per timestamp. A new visualization was created for this product where each value for the same timestamp is shown one above the other, allowing to quickly see how many satellites where visible and what the values where for each timestamp shown.</li>
                <li><b>Field aligned current </b></br>The data from FAC_TMS_2F has been added to VirES with the possibility to view the Field-aligned current (FAC) and Ionospheric radial current (IRC) on the globe and in the Analytics View.</li>
                <li><b>Dayside equatorial electric field</b></br>The data from EEFxTMS_2F has been added to VirES with the possibility to view the Estimate of the equatorial electric field (EEF) on the globe and in the Analytics View.</li>
                <li><b>Updated backplane map</b></br>The new version of the backplane map offers the following improvements:<ul>
                <li>Digital Elevation Model (DEM) data merged from SRTM, ASTER and regional/local data like EU-DEM</li>
                <li>New shaded relief with better generalization and geotopographical features</li>
                <li>Improved generalization of coastlines and land polygons</li>
                <li>Updated OpenStreetMaps data</li>
                <li>Removed data gap within Antarctica</li>
                </ul></li>
          </ul>


          <hr>
            <h3>
              Release of Service v1.2 (21.12.2016)
            </h3>

          <p>
              Features:
          </p>
          <ul>
                <li><b>Resume session</b></br>Upon termination of your session information about the view, time window, area, data and filter selections and all corresponding settings will be stored for your convenience. Upon restart of the service, your session will be resumed where you left off. The session state information is stored locally with your internet browser, unless VirES is accessed using private browsing.</li>
                <li><b>Jump to date</b></br>To quickly access data from any part of the Swarm mission, press on the button in the top right corner of the timeslider slider. This will allow you to display data from a date of your choice. The time selection will be on a corresponding time of day as your previous time selection. If the previous time selection passes over midnight, the selection will be clipped to end at midnight</li>
                <li><b>Set detailed download time filter</b></br>In addition to filtering Swarm products by a wide range of parameters when downloading, you can select "Custom time selection" in the Download Manager. This will make it possible to define a precise start and end time for the downloaded product. Other filters shown in the Download Manager will still apply to the data</li>
                <li><b>New overlay layers</b></br> Three new overlays are available from the layers panel:
                  <ul>
                    <li>Coastlines and Countries: Black coastlines with light grey country borders</li>
                    <li>Graticules: Grid lines for geographic longitude/latitude</li>
                    <li>Magnetic graticules: Grid lines for magnetic longitude/latitude</li>
                  </ul>
                </li>
                <li><b>Additional colour scales</b></br>When selecting Swarm products or models to display on the globe, the colour representation of the data can be set in the respective settings widgets found in the Layers widget. It is now possible to choose between 27 scales including ones such as viridis, plasma and portland. The names of custom1 and custom2 colour scales have been changed to diverging_1 and diverging_2 to better represent the corresponding style.</li>
          </ul>

          <hr>
            <h3>
              Release of Service v1.1 (26.09.2016)
            </h3>

          <p>
              Features:
          </p>
          <ul>
                <li><b>Plasma products</b></br>The data from EFIX_PL_1B have been added to VirES with the possibility to view the plasma density and temperature, in addition to the spacecraft velocity and potential both on the globe and in the Analytics View. The full set of parameters are accessible on download</li>
                <li><b>Ionospheric bubble product</b></br>The data from IBI_TMS_2F have been added to VirES with the possibility to view the bubble probability on the globe and in the Analytics View. Positive Bubble index detections are shown in the time slider. The full set of parameters are accessible on download</li>
                <li><b>Layers interface changes</b></br>The Layers widget has changed separating out satellite specific products. Selecting a satellite specific product is now independent of selecting what satellites to view data from. Selection of satellite is done using separate checkboxes in the Layers widget. This change was introduced to make the Layers widget more compact after adding more products.</li>
                <li><b>Customize download fields</b></br>When downloading data, in addition to customizing the exact filter values and format, it is possible to specify what parameters to include by ticking off on "Custom download parameters", then either select the data from a dropdown menu or type it in. This customization allows for parameters from multiple Swarm products.</li>
                <li><b>Label with colorscale information directly integrated into globe visualization</b></br>Now when using the save function the currently configured color scale and ranges are saved also into the image. It is possible to toggle the visualization of the label in the settings panel for each Layer using the "Legend" tickbox.</li>
                <li><b>Dynamic range calculation for models</b></br>When changing model parameters (for SIFM, IGRF12, CHAOS-5 and Custom Model), such as the coefficient range or height, the colorscale range is calculated and adjusted automatically. It is still possible to manually adjust the range with both textfields available in the settings panel. This change was introduced as it became clear that finding the correct range after changing model parameters was cumbersome for users and we wanted to facilitate the process.</li>
                <li><b>Single axis interaction</b></br>When exploring the scatterplot, one can scroll when hovering over an axis to zoom along one axis while keeping the other axes ranges fixed. Similarily one can drag on an axis to pan the plot. These features apply to both the x-axis and the y-axes and complement the zooming and panning one can perform on the scatterplot itself to zoom along all axes.</li>
                <li><b>Zoom limit removed</b></br>The zoom limit previously applied to the scatterplot is now removed. There are now no restrictions to how far you can zoom in or out. A reset button is added to enable the user to return to the initial zoom level and position at one's convenience.</li>
                <li><b>Customizable filter list</b></br>The data filter histograms found in the Analytics View can be removed individually, and new histograms for any other available parameter can be added by selecting it in the histogram "Add" dropdown menu. Any active filters will be removed when its corresponding histogram is removed. In addition the filters can be hidden to allow for more space for the scatterplot.</li>
                <li><b>Secondary y-axis</b></br>When selecting multiple parameters a second y-axis will appear. When selecting two parameters this means that each parameter has its own axis. If more than two parameters are selected, they will be grouped according to their range, such that the parameters with the most similar value ranges are grouped together and share an axis.</li>
                <li><b>Scatterplot units</b></br>The units are now displayed in a parenthesis next to the axis parameter labels in the scatterplot.</li>
                <li><b>Extended time selection</b></br>The time selection limit when selecting a time window from the time slider has been extended from 15 days to 30 days. The limit when downloading products has not changed and is still set at the equivalent of 5 unfiltered MAGX_LR products.</li>
          </ul>

          <hr>

        </div><!--/col-->

    </div><!--/container-->

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">

                <a href="http://eox.at" target="_blank" style="text-decoration: none;">
                  <img style="height:30px; display:inline;" src="{% static 'images/EOX_Logo_inverted.png' %}">
                </a>


                <p class="text-muted" style="display:inline;">service for</p>


                <a href="http://esa.int" target="_blank" style="text-decoration: none;">
                  <img style="height:50px;  display:inline; margin-left:4px;" src="{% static 'images/esa_logo_white.png' %}">
                </a>

            </div>
          </div>

          <div class="col-md-6 text-muted" style="text-align: center; margin-top:15px;">
            <a style="display:inline; margin-right:5px;" href="{% static 'other/T&C_for_ESA_Dataset-v1.pdf' %}" target="_blank_">ESA Data Terms</a> | 
            <a style="display:inline; margin-left:5px;" href="/accounts/servicetc" target="_blank_">VirES Service Terms</a> |
            <a href="https://earth.esa.int/swarm" target="_blank">Swarm Official Site</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav pull-right scroll-top">
      <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>


    <!-- script references -->
    {% load staticfiles %}

    <script src="{% static 'workspace/bower_components/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'workspace/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/landing_page.js' %}"></script>

    <!-- End landing page -->
  
{% endblock %}
