{% extends "vires_oauth/base.html" %}
{% block content %}
  <h2>Profile</h2>
  <form class="form-horizontal inputwide" method="POST" action="{% url 'account_update_profile' %}">
    {% csrf_token %}
    <fieldset>
      <div class="control-group">
        <label class="control-label">Username</label>
        <p class="form-control-static"><strong>{{ request.user.username }}</strong></p>
      </div>
      <div class="control-group">
        <label class="control-label">Granted permissions</label>
        <div class="well well-sm">
          <div style="line-height: 180%; font-size: 120%;">
          {% for code, label in permissions %}
          <span class="label {% if code == "admin" %}label-danger{% else %}label-primary{% endif %}">{{ label }}</span>
          {% endfor %}
          </div>
          {% if not permissions %} No permission granted. {% endif %}
        </div>
      </div>
      {% for field in form %}
        {% if field.errors %}
          <div class="control-group error">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <span class="help-inline error">
              {% for error in  field.errors %}{{ error }}{% endfor %}
            </span>
          </div>
        {% else %}
          <div class="control-group">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
              <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions" style="text-align: center; margin:15px 0 20px 0;">
        <button type="submit" class="btn btn-primary">Update profile</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
