{% load i18n %}
{% load url from future %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/eoxs_static/other/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/eoxs_static/other/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/eoxs_static/other/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/eoxs_static/other/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/eoxs_static/other/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/eoxs_static/other/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/eoxs_static/other/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/eoxs_static/other/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/eoxs_static/other/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/eoxs_static/other/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/eoxs_static/other/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/eoxs_static/other/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/eoxs_static/other/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/eoxs_static/other/favicon/manifest.json">
  <link rel="mask-icon" href="/eoxs_static/other/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/eoxs_static/other/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/eoxs_static/other/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/eoxs_static/other/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="VirES for Swarm Service">
  <meta name="twitter:description" content="Highly interactive data analysis and retrieval web interface for the ESA Swarm products">
  <meta name="twitter:image" content="https://vires.services/eoxs_static/images/VirES_Swarm_twitter.jpg">
  <meta name="twitter:image:alt" content="VirES for Swarm service image">
  {% block title %}
  <title>VirES for Swarm</title>
  {% endblock %}
  {% block additional_headers %}
  {% endblock %}

  <style type="text/css">
    /*Styling for messages div to be on top and
     floating over all elements */
    #messagescontainer{
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 66px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/social_providers.css' %}" />
</head>
<body>
	{% block messages %}
	  {% if messages %}
		  <div class="container" id="messagescontainer" style="z-index: 5001;">
		    <div class="row">
		      <div class="col-xs-12">
		        <div>
		          {% for message in messages %}
		          <div class="alert alert-{% if message.tags %}{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% else %}success{% endif %} fade in djangoalert"><!-- alert-warning alert-danger -->
		            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
		            {{ message|capfirst }}
		          </div>
		          {% endfor %}
		        </div>
		      </div>
		    </div>
		  </div>
		  <script type="text/javascript">
		    setTimeout(function(){
		      if ($('.djangoalert').length > 0) {
		      $('.djangoalert').remove();
		      }
		    }, 5000)
		  </script>
	  {% endif %}
  {% endblock messages %}

  {% block accounts_content %}
	  {% block content %}
	  {% endblock content %}
  {% endblock accounts_content %}

    <!-- Piwik -->
    <script type="text/javascript">
     var _paq = _paq || [];

     // Check if the title was set already somewhere else
     var documentTitleSet = false;
     for (var i = _paq.length - 1; i >= 0; i--) {
     	if (_paq[i][0]=="setDocumentTitle"){
     		documentTitleSet = true;
     	}
     }
     // only if it is not set set it here with the default
     if(!documentTitleSet){
     	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
     }

     _paq.push(["setDoNotTrack", true]);
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
       var u="//nix.eox.at/piwik/";
       _paq.push(['setTrackerUrl', u+'piwik.php']);
       _paq.push(['setSiteId', 4]);
       var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
       g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
     })();
    </script>
    <noscript><p><img src="//nix.eox.at/piwik/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</body>
</html>
