{% extends "vires/base.html" %}
{% load i18n %}
{% block title %}
  <title>VirES for Swarm</title>
{% endblock %}

{% block content %}

{% if client_state %}
  <script type="text/javascript">
    (function (config) {
      var key;
      localStorage.clear();
      for (key in config) {
        localStorage.setItem(key, JSON.stringify(config[key]));
      }
    })(JSON.parse("{{ client_state|escapejs }}"));
  </script>
{% endif %}

{% if user.is_authenticated %}

  {% load staticfiles %}
  {% load account %}
  {% load vires_oauth %}

  <link rel="stylesheet" type="text/css" href="{% static 'workspace/styles/main.css' %}" />
  <link href="{% static 'css/form_styles.css' %}" rel="stylesheet">

  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['setUserId', '{% user_display user %}']);
    _paq.push(['trackGoal', 3]);
    _paq.push(['setDocumentTitle', "Workspace"]);
  </script>

  <!-- Page Content -->
  <div id="content">
    <div id="main"></div>
    <div id="viewContent"></div>
    <div id="leftSideBar"></div>
    <div id="rightSideBar"></div>
    <div id="optionsBar"></div>
    <div id="topBar"></div>
    <div id="bottomBar"></div>
  </div>
  <div id="storyView" style="z-index: 0"></div>
  <div id="loadscreen" class="modal-backdrop">
      <div id="loading-spacer">
          <div class="project-title">VirES for Swarm</div>
      </div>
      <div class="loader">
          <div class="inner one"></div>
          <div class="inner two"></div>
          <div class="inner three"></div>
      </div>
  </div>
  <!-- HIDDEN DOWNLOAD DIV -->
  <div id="div-downloads">
    <iframe name="iframe-download-post" id="iframe-download-post"></iframe>
  </div>
  <div id="error-messages"></div>
  <div id="pngdataurl"></div>
  <div id="terrain_attribution">
    <p style="float: right"><a href="javascript:;" onclick="toggle(terrain_attribution)">×</a></p>
    <p>Terrain map data</p>
    <ul>
      <li>OpenStreetMap © <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap contributors</a></li>
      <li>NaturalEarth <a href="http://www.naturalearthdata.com/about/terms-of-use/" target="_blank">public domain</a></li>
      <li>EU-DEM © Produced using Copernicus data and information<br>funded by the European Union</li>
      <li>SRTM © <a href="http://nasa.gov" target="_blank">NASA</a></li>
      <li>GTOPO30</li>
      <li>CleanTOPO2 public domain</li>
      <li>GlobCover © <a href="http://esa.int" target="_blank">ESA</a></li>
    </ul>
    <p>Terrain map design © <a href="http://eox.at" target="_blank">EOX IT Services GmbH</a></p>
  </div>
  <script>
    // Used to display/hide terrain attribution
    function toggle(e) { e.style.display = (e.style.display == 'block' ? 'none' : 'block'); }
  </script>

    <script type="text/javascript">
      this.NAVBARITEMS = [{
        "name": "{% user_display user %}",
        "icon": "fa-user",
        "subitems": [{
            "name": "Manage access tokens",
            "url": "{% url 'account_manage_access_tokens' %}"
        }, {
            "name": "Change account settings",
            "url": "{% vires_oauth_url 'account_update_profile' %}"
        }, {
            "name": "Leave application",
            "eventToRaise": "modal:accountLogout"
        }]
      }];
      console.log(this.NAVBARITEMS)
      var CONFIG_URL = "{% static 'workspace/scripts/config.json'%}";
      CESIUM_BASE_URL = "{% static 'workspace/bower_components/cesium/Build/Cesium/'%}";
      // you can register settings like this before require.js is loaded
      var require = {
          baseUrl : "{% static 'workspace/scripts/' %}"
      };
    </script>
    <!-- Modal forms -->
    <div class="modal fade" id="accountLogout" tabindex="-1" role="dialog" aria-labelledby="accountLogout">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="accountSettingsLabel">Leave the VirES for Swarm application</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to leave the VirES for Swarm application?</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary"><i class="fa fa-sign-out"></i>&nbsp;Leave</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script data-main="{% static 'workspace/scripts/init.js' %}" src="{% static 'workspace/bower_components/requirejs/require.js' %}"></script>

  {% else %}

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setDocumentTitle', "Landing Page"]);
    </script>

    <style type="text/css">
    /*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */

      .FlexEmbed {
        display: block;
        overflow: hidden;
        position: relative;
      }

      .FlexEmbed:before {
        content: "";
        display: block;
        width: 100%;
      }

      .FlexEmbed--3by1:before {
        padding-bottom: 33.33333%;
      }

      .FlexEmbed--2by1:before {
        padding-bottom: 50%;
      }

      .FlexEmbed--16by9:before {
        padding-bottom: 56.25%;
      }

      .FlexEmbed--4by3:before {
        padding-bottom: 75%;
      }

      .CoverImage {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto 0em;
        max-width: 2048px;
        max-height: 648px;
      }
      /* Loading image related styles inside template to use template tags*/


      .bg-1 {
        background: url('{% static 'images/Core_and_crust_from_Swarm.jpg' %}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      .bg-2 {
        background: url('{% static 'images/VirES_Swarm_banner2.jpg' %}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      .bg-3 {
        background: url('{% static 'images/Group_Picture_full.jpg' %}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }

      .current-version {
          background-color: #f3f2f3;
          padding: 10px;
      }

    </style>

    <!-- Start landing page -->
    {% load i18n %}
    {% load account socialaccount %}

    <link href="{% static 'workspace/bower_components/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/landing_page.css' %}" rel="stylesheet">
    <link href="{% static 'css/form_styles.css' %}" rel="stylesheet">

        <!-- Wrap all page content here -->
    <div id="wrap">


    <header class="masthead">

        <div class="CoverImage FlexEmbed FlexEmbed--3by1"
           style="background-image:url('{% static 'images/VirES_Swarm_banner1.jpg' %}');">
           <div class="image-attribution">&copy; ESA/EOX/AOES Medialab</div>
        </div>

    </header>

    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-justified">
              <li><a href="#Features">Features</a></li>
              <li><a href="#Data">Data</a></li>
              <li><a href="#Signup">Sign-up</a></li>
              <li><a href="{% url 'vires_login' %}?process=login">Log in</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--/.navbar -->

    <!-- Begin page content -->

    <div class="container">


      <div class="page-header text-center">
        <h1>Earth's magnetic field as observed by satellite</h1>
        <h3>ESA Swarm data available for anyone to use via the virtual research platform VirES</h3>
      </div>

        <p class="lead current-version text-center">
          <strong>Version 3.1.0</strong> (<a href="/accounts/changelog">Changelog</a>)<br>
          <em>August 2019</em>
        </p>

        <p class="lead text-center">
          VirES for Swarm is a highly interactive data manipulation and retrieval interface for the <a href="https://earth.esa.int/swarm" target="_blank">ESA Swarm constellation mission</a> products. It includes tools for studying various geomagnetic models by comparing them to the Swarm satellite measurements at given space weather and ionospheric conditions.
        </p>

        <hr>

      </div>
    </div>


    <section class="bg-1">
      <div class="image-attribution">&copy; ESA/DTU Space/ATG medialab</div>
      <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    <div class="divider" id="Features"></div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 larger">
          <h1>Features</h1>

          <hr>
            <p>
              Here is a demonstration of the VirES for Swarm tools and main features.
            </p>

          <div class="divider"></div>

          <div class="videowrapper">
            <iframe src="https://www.youtube.com/embed/7IuChwuye8c?rel=0" allowfullscreen></iframe>
          </div>

          <p>Slides with detailed information on service usage can be found <a href="{% static 'other/VirES_for_Swarm_Tutorial_Slides.pdf' %}" target="_blank_">here</a>.</p>

          <div class="divider"></div>

          <p>
              Magnetic and plasmatic Swarm product data can be visualized on the platform
              plotted over the globe and shown in a scatterplot. The scatterplot allows for dual y-axes with independent zoom and panning features.
              The time slider and various controls offer the
              possibility to make selections and set criteria for data filtering and visualization
              which immediately take effect on the display.
          </p>
          <p>
              The subset of Swarm data selected by the user in this way can be downloaded in different encoding
              formats. The data downloaded can be combined to fit various use cases.
          </p>
          <p>
              VirES enables
              visual and numerical comparison with geomagnetic models, analysis with respect to
              various ancillary data and generation of publication-ready plots and diagrammes in an
              intuitive and powerful yet customizable interface.
          </p>

          <hr>

        </div><!--/col-->
    </div><!--/container-->

    <div class="divider" id="Data"></div>

    <section class="bg-2">
      <div class="image-attribution">&copy; ESA&nbsp;-&nbsp;P. Carril, 2013</div>
    </section>


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 larger">
          <h1>Data</h1>

          <hr>

          <p>The following products are taken from all three Swarm Satellites:</p>
          <ul>
            <li style="list-style-type: circle;">
              The magnetic vector and scalar data at a 1 Hz at exact UTC seconds (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-1b-product-definitions#MAGX_LR_1B_Product">Swarm MAGX_LR_1B</a>).
            </li>
            <li style="list-style-type: circle;">
              The plasma data from the Langmuir probe including electron temperature and plasma density at 2 Hz (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-1b-product-definitions#EFIX_LP_1B_Product">Swarm EFIX_LP_1B</a>).
            <li style="list-style-type: circle;">
              The ionospheric bubble index data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#IBIxTMS_2F">Swarm IBIxTMS_2F</a>).
            </li>
            <li style="list-style-type: circle;">
              The ionospheric total electron content data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#TECxTMS_2F">Swarm TECxTMS_2F)</a></li>
            <li style="list-style-type: circle;">
              The single and combined S/C solution for the current density data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#FACxTMS_2F">Swarm FACxTMS_2F</a> and <a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#FAC_TMS_2F">FAC_TMS)</a></li>
            <li style="list-style-type: circle;">
              The dayside equatorial electric field data (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#EEFxTMS_2F">Swarm EEFxTMS_2F)</a></li>
          </ul>

          <p>The following models of the Earth's magnetic field and its time variation are pre-loaded:</p>
          <ul>
            <li style="list-style-type: circle;">
              The Swarm Initial Field Model for 2014 derived from the first year of data from the Swarm satellite trio (<a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/2014GL062659/abstract">SIFM</a>)
            </li>
            <li style="list-style-type: circle;">
              The 12th Generation International Geomagnetic Reference Field (<a target="_blank" href="http://earth-planets-space.springeropen.com/articles/10.1186/s40623-015-0228-9">IGRF 12</a>) released in 2015 by the International Association of Geomagnetism and Aeronomy
            </li>
            <li style="list-style-type: circle;">
              The CHAOS-6 high resolution geomagnetic field model, derived primarily from Swarm, CHAMP, and Ørsted satellite magnetic data along with ground observatory data (<a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-6/">CHAOS-6</a>)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Core Field are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MCO_SHA_2C">MCO_SHA_2C</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MCO_SHA_2D">MCO_SHA_2D</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the main (core) field and its temporal variation (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MCO_SHA_2F">MCO_SHA_2F</a>)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Lithosphereic Field are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MLI_SHA_2C">MLI_SHA_2C</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the lithospheric field (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MLI_SHA_2D">MLI_SHA_2D</a>)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Magnetospheric Field are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MMA_SHA_2C">MMA_SHA_2C-Primary &amp; MMA_SHA_2C-Secondary Field</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MMA_SHA_2F">MMA_SHA_2F-Primary &amp; MMA_SHA_2F-Secondary Field</a>)
            </li>
            <li style="list-style-type: circle;">
              The <a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-6/">CHAOS-6</a> spherical harmonic model of the large-scale magnetospheric field and its Earth-induced counterpart (CHAOS-6-MMA-Primary &amp; CHAOS-6-MMA-Secondary Field)
            </li>
          </ul>
          <p>The following Spherical Harmonic Models of the Daily Geomagnetic Variation are available:</p>
          <ul>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the daily geomagnetic variation at middle latitudes (Sq) and low latitudes (EEJ) (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MIO_SHA_2C">MIO_SHA_2C-Primary &amp; MIO_SHA_2C-Secondary Field</a>)
            </li>
            <li style="list-style-type: circle;">
              Spherical harmonic model of the daily geomagnetic variation at middle latitudes (Sq) and low latitudes (EEJ) (<a target="_blank" href="https://earth.esa.int/web/guest/missions/esa-eo-missions/swarm/data-handbook/level-2-product-definitions#MIO_SHA_2D">MIO_SHA_2D-Primary &amp; MIO_SHA_2D-Secondary Field</a>)
            </li>
          </ul>

          <p>Users can also work with Custom Models and upload Spherical Harmonic Expansion coefficients (<a target="_blank" href="http://www.spacecenter.dk/files/magnetic-models/CHAOS-5/SHC-Format-Decsription.pdf">SHC file format</a>)</p>
          <p>The global context of space weather is provided in form of:</p>
          <ul>
            <li style="list-style-type: circle;">
              The Disturbance storm time index (<a target="_blank" href="https://en.wikipedia.org/wiki/Disturbance_storm_time_index">Dst Index</a>)
            </li>
            <li style="list-style-type: circle;">
              The disturbances in the horizontal component of the Earth's magnetic field (<a target="_blank" href="https://en.wikipedia.org/wiki/K-index">planetary Kp Index</a>)
            </li>
            <li style="list-style-type: circle;">
              Observed daily measure of the solar radio flux per unit frequency at a wavelength of 10.7 cm
              (<a target="_blank" href="https://en.wikipedia.org/wiki/Solar_cycle#Solar_radio_flux">F10.7 index</a>) read from
              the auxiliary <a target="_blank" href="https://earth.esa.int/documents/10174/1514862/Swarm_L2_Product_Specification/">AUX_F10_2_</a> product.
            </li>
          </ul>

          <p>
            The data accessible on VirES consists of the newest versions available and any new data will appear within 4 hours of generation.
          </p>

        </div><!--/col-->
    </div><!--/container-->

    <div class="divider"></div>


    <section class="bg-3">
      <div class="image-attribution">&copy; DTU Space-P-E. Holmdahl-Olsen, 2014</div>
    </section>

    <div class="divider" id="Signup"></div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 larger">
          <h1>Sign up</h1>
          <hr>
          <p>
            To access Swarm data you simply sign up (register) as a user by providing user profile information
            such as username, email and optionally title, country, institution and an executive
            description of the project in which your Swarm data is being used.
          </p>
          <div style="text-align: center">
            <div style="margin-top: 2em;">
              <a class="linkbutton" href="{% url 'vires_login' %}?process=signup">Sign up</a>
            </div>
          </div>
        </div>
    </div>

    <div class="divider" id="Login"></div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 larger">
          <h1>Log in</h1>
          <hr>
          <p>
            Log in using your preferred social provider or directly with your account credentials.
          </p>
          <div style="text-align: center">
            <div style="margin-top: 2em;">
              <a class="linkbutton" href="{% url 'vires_login' %}?process=login">Log in</a>
            </div>
          </div>
        </div>
    </div>

    <div class="divider"></div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p >
          Feedback and ideas are very welcome, feel free to contact us under <a href="mailto:feedback@vires.services">feedback@vires.services</a>.
        </p>
      </div>
    </div>

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">


        </div><!--/col-->
    </div><!--/container-->

    </div><!--/wrap-->

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">

                <a href="http://eox.at" target="_blank" style="text-decoration: none;">
                  <img style="height:30px; display:inline;" src="{% static 'images/EOX_Logo_inverted.png' %}">
                </a>


                <p class="text-muted" style="display:inline;">service for</p>


                <a href="http://esa.int" target="_blank" style="text-decoration: none;">
                  <img style="height:50px;  display:inline; margin-left:4px;" src="{% static 'images/esa_logo_white.png' %}">
                </a>

            </div>
          </div>

          <div class="col-md-6 text-muted" style="text-align: center; margin-top:15px;">
            <a style="display:inline; margin-right:5px;" href="{% static 'other/T&C_for_ESA_Dataset-v1.pdf' %}" target="_blank_">ESA Data Terms</a> |
            <a style="display:inline; margin-left:5px;" href="/accounts/servicetc" target="_blank_">VirES Service Terms</a> |
            <a href="https://earth.esa.int/swarm" target="_blank">Swarm Official Site</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav pull-right scroll-top">
      <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>

    <!-- script references -->
    {% load staticfiles %}

    <script src="{% static 'workspace/bower_components/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'workspace/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/landing_page.js' %}"></script>

    <!-- End landing page -->

  {% endif %}

{% endblock %}
